[2021-09-15 08:52] HengYuD commented on #6009
I meet similar during my training:

the net config used yolox_x and 3090 with 24G memery
my dataset have about 4000 pictures with size of 600x600

first batchsize=16 and workers =4, it first used about 21G and OOM at epoch2

so I set batchsize=12 , it used on 16G first and OOM at epoch50

now I set batchsize=8 just like the default
 at the beginning it used 11G, now it used about 20G after 20 epoc

[2021-09-15 08:58] HengYuD commented on #6009
maybe the cutmix and mosaic process take expected GPU memery

[2021-09-15 09:34] RangiLyu commented on #6009
Seems that there is a potential memory leak? @hhaAndroid did you meet a similar problem during training?

[2021-09-15 09:57] AronLin commented on #6059
1. Suggest to set the CLASSES like [faster_rcnn_r50_fpn_1x_voc0712_cocofmt.py](https://github.com/openmmlab/mmdetection/blob/master/configs/pascal_voc/faster_rcnn_r50_fpn_1x_voc0712_cocofmt.py).
You only need to set it in your config file.
2. Can you output the `model.CLASSES` before [mmdet/tools/test.py/#L203](https://github.com/open-mmlab/mmdetection/blob/master/tools/test.py#L203) and check whe

[2021-09-15 10:11] AronLin commented on #5944
`The testing results of the whole dataset is empty.` Your model is not correct, so it outputs nothing.
You should find why your model cant be trained normally.
I found that `loss_semantic_seg` is increasing during training.
I suggest you to train your model without semantic seg to ensure that your instance part of model is normal.

[2021-09-15 10:20] nyk2001 commented on #6108
whats wrong with my code ? Just trying to understand what's going on

[2021-09-15 11:08] victoic commented on #5944
You are correct. But I made no changes to the model, except for class output.
Simply changing the config from DetectoRS to other, Deformable DETR, trains correctly. With no change to data. Which points to the problem being something with DetectoRS.

Is there a Config option for this?

[2021-09-15 12:51] bogdan-evtushenko commented on #5934
Hi, are there any updates about it, may be it's possible to use the weights from the original repo of YOLOX?

[2021-09-15 13:01] CheungBH commented on #6102
Yes, I solved. The mmdet version is currently 2.16.0

[2021-09-15 13:34] aayush-sukhija commented on #3122
@CescMessi Where do we need to update this snippet of code?

[2021-09-15 13:57] Soodep commented on #6059
@AronLin Like you suggested I set the classes in  my config file only( i didn't change any other files):
![image](https://user-images.githubusercontent.com/9031472/133445906-76010432-95b1-491a-98fa-02c1db7d54d1.png)

And when I output the model.Classes before mmdet/tools/test.py/#L203 I still get all the classes (20 classes ):
![image](https://user-images.githubusercontent.com/9031472/133446228-7b

[2021-09-15 14:00] Soodep commented on #6059
I also tried changing the number of classes ( num_classes = 2 ), but when I do the same unexpected visualization result I have explained before ( large no. of aeroplane and bicycle bounding boxes). I am really lost and not sure how I can solve this simple problem.

[2021-09-15 14:10] Uncolor-Duck commented on #6040
Could you share something about "py_softmax_focal_loss" with me? I can not find it anywhere. Thank you so much!

[2021-09-15 14:38] yumy-wang commented on #5951
I meet the same question with you...

[2021-09-15 14:56] waddington opened #6111 "How to use albumentations during test pipeline?"
This response mentions that it is not possible - https://github.com/open-mmlab/mmdetection/issues/3962#issuecomment-750026724

However I would very much like to be able to do this. Can someone point me to what I need to change to enable it to run?

[2021-09-15 14:57] waddington commented on #3962
Why is this? Can I change this?

[2021-09-15 15:29] CescMessi commented on #3122
The above code is a standalone py file to change pth file. The bug has been fixed in [4584](https://github.com/open-mmlab/mmdetection/pull/4584) , so if you use the lastest version, you don't need to do that operation.

[2021-09-15 19:04] Soodep commented on #6045
@BIGWangYuDong I used the pre trained model along with the latest version and  these is the test result:
![image](https://user-images.githubusercontent.com/9031472/133493804-54891db0-33a5-488c-afdc-8db83f9a4da5.png)
Is there any way to evaluate results for only 2 classes?

[2021-09-16 01:39] RanWeii opened #6112 "DetectoRS with ResNeXt-50-32x4d backbone for Instance Segmentation"
Hi, is there the pretrain model weights of DetectoRS with ResNeXt-50-32x4d backbone that can be provided to download?

[2021-09-16 01:43] RaymondByc commented on #6093
Change the dataset in dataloader can be done by "runner.data_loader.dataset.update_dynamic_scale()"? I think it would not works.

[2021-09-16 03:26] RangiLyu commented on #6112
We did not train DetectoRS with ResNeXt50.

[2021-09-16 03:29] RangiLyu commented on #6098
You can modify the config to use swin backbone in faster-rcnn and cascade-rcnn. But the pre-trained models are not on our plan list.

[2021-09-16 03:45] AronLin commented on #5944
Deformable DETR has not used the semantic head so it can be trained correctly.
You can train your model with [htc_without_semantic](https://github.com/open-mmlab/mmdetection/blob/master/configs/htc/htc_without_semantic_r50_fpn_1x_coco.py).
If it is trained normally, you can try to train a htc model with semantic segmentation.
If it can be trained normally too, there is somehing wrong with DetectoR

[2021-09-16 04:27] Guhanxue commented on #5730
I met the same error, and found all map is 0.00, but the number of detected objects are right....

[2021-09-16 05:30] RanWeii commented on #6112
okay, thx anyway

[2021-09-16 05:44] #6112 closed

[2021-09-16 06:19] freshn commented on #1197
This should be mentioned with a clear notification somewhere. I have gotten in trouble with this since last month.

[2021-09-16 06:24] wojiazaiyugang commented on #6081
I'm still waiting for a helpful answer....

[2021-09-16 07:12] Bin-ze opened #6113 "about dataset val"
I want to use the evaluation standard of the coco data set: bbox indicator to evaluate the training results of the voc data set, how can I modify the code to complete

[2021-09-16 08:13] AronLin commented on #6108
I still suggest you create a new config file. Otherwise, it will increase the workload for us to find problems, and it will not help answer your questions.

I found below problems:
1. You use instance_train2017.json as your test.ann_file
2. coco128 only has 128 images, the training dataset is too small and you have only trained for 6 epochs, so it is normal that you get the result of `mAP=0`.

[2021-09-16 08:14] #6103 closed

[2021-09-16 08:14] #6102 closed

[2021-09-16 08:26] AronLin commented on #6059
That is the problem. If model.CLASSES is correct, the visualization result should also be correct.

1. In the config file, you have not passed the CLASSES to the data.train/val/test.classes. In tools/test.py, we passed the dataset.CLASSES to model.CLASSES. So the number of model.CLASSES should be 2.
2. If the number of model.CLASSES is correct, you can get the right class number in evalution.

[2021-09-16 08:34] thisisi3 opened #6114 "One concern about init_cfg."
https://github.com/open-mmlab/mmdetection/blob/fe396572839f30351aa862d2b2702f57698cefea/mmdet/models/roi_heads/bbox_heads/convfc_bbox_head.py#L99

According this this line, if init_cfg was provided by user, all the current default init_cfgs and parents' default init_cfgs would be lost. In order to use the default init_cfgs user has to list them all in the provided init_cfg. I think it might be eas

[2021-09-16 08:34] dldldlfma opened #6115 "tools/deployment/pytorch2onnx.py"
**Describe the bug**
when i tried to pytorch2onnx.py, i got error

**Reproduction**
below is my command or script

`
python tools/deployment/pytorch2onnx.py configs/my_model/mask_rcnn_r50_caffe_fpn_mstrain-poly_1x_my_model_v2.py work_dirs/mask_rcnn_r50_caffe_fpn_mstrain-poly_1x_my_model_v2/epoch_12.pth \
--output-file checkpoints/mask_rcnn_r50_caffe_fpn_mstrain-poly_1x_my_model_v2/epoch_12.onnx \

[2021-09-16 08:47] AronLin commented on #6105
1. When we evaluate the metric, the number of classes depends on the length of det_results[0].
You can try to manually process the results so that only these two types of results are output.
 2. You need to change the classes in the config file and pass it to data.train/val/test.classes, too.

[2021-09-16 09:25] AronLin commented on #6105
1. When we evaluate the metric, the number of classes depends on the length of det_results[0].
You can try to manually process the results so that only these two types of results are output.
 2. You need to change the classes in the config file and pass it to data.train/val/test.classes, too.

[2021-09-16 10:28] RangiLyu commented on #6081
If you use --skip-postprocess, you have to implement the post-process part in cpp by yourself. For example, if you use YOLOX, you need to refer to the `get_bboxes` function in https://github.com/open-mmlab/mmdetection/blob/fe396572839f30351aa862d2b2702f57698cefea/mmdet/models/dense_heads/yolox_head.py

[2021-09-16 10:58] RangiLyu commented on #6113
There are two different ways:
1. Convert the voc format dataset to coco format and run training and validation with CocoDataset.
2. Copy the evaluate function in CocoDataset (mmdet/datasets/coco.py), and replace the evaluate function in voc dataset (mmdet/datasets/voc.py) with it.

[2021-09-16 11:02] RangiLyu commented on #6115
It seems that you did not compile the mmcv-full with custom opset. Please following the guide and make sure the environment is correct. https://github.com/open-mmlab/mmcv/blob/master/docs/deployment/onnxruntime_op.md

[2021-09-16 11:07] RangiLyu commented on #6114
Thanks for your feedback! If you have a better idea of weight initialization, welcome to create a pull request.

[2021-09-16 11:10] RangiLyu commented on #6084
https://zhuanlan.zhihu.com/p/387078211
And you can add the eval results to wandb in mmdet/core/evaluation/eval_hooks.py

[2021-09-16 14:28] hongyanghu commented on #4133
I used the v4 configuration in your resp. After setting ```loss_bbox=dict(type='CIoULoss', loss_weight=2.0, reduction="mean")```, the loss_bbox and ap values are very low and it is difficult to train. What is the reason?

[2021-09-16 14:29] Soodep commented on #6105
@AronLin How to pass the change in classes to data.train/test.classes?

[2021-09-16 14:38] Soodep commented on #6059
How to pass Classes to the data.train/val/test.classes from config file?

[2021-09-16 15:02] Soodep commented on #6105
@deepsea12 I am having the same problem, let me know if you solve it.

[2021-09-16 17:01] Soodep commented on #1432
did anyone have solution to this?

[2021-09-16 17:02] Soodep commented on #1432
@prajnasb did you solve your issue?

[2021-09-16 20:37] Soodep commented on #5591
@Balazizo @FirasKedidi did anyone solve this?

[2021-09-16 21:29] deepsea12 commented on #6105
@AronLin How do I manually process the result ( part 1 ). I would really appreciate if you could give or show me an example.

[2021-09-17 01:59] Hbenbenyu opened #6118 "The val mAP reaches 1, but the test mAP is very low."
When I train the faster_rcnn_r50_fp or ssd300, the val mAP is very high which reaches 1 and the loss is low, but when I test the model, the mAP is just about 0.4. I have ever trained the same voc dataset with [https://github.com/endernewton/tf-faster-rcnn](url) and the test mAP is over 0.85. I can not figure out this problem.This problem bothers me and I hope to get your help.

[2021-09-17 02:12] stepbuystep opened #6119 "cannot reproduce the reported performance on coco2014 with ./configs/ssd/ssdlite_mobilenetv2_scratch_600e_coco.py"
Hi,

I am training ssdlite on coco2014 with mobilenetv2 as the backbone (see ./config/ssd/ssdlite_mobilenetv2_scratch_600e_coco.py). Only one minor change was made, i.e., I change the samples_per_gpu=24 to samples_per_gpu=48. This is because I notices that the official implementation was trained with 8 GPUs whereas I only have 4 LOL. Considering that the batch size keeps consistent with the offici

[2021-09-17 02:15] BIGWangYuDong commented on #6118
Hi,
Firstly, you can try to use val dataset to test your code and make sure your inference code is normal. I haven't encountered this problem, so you may need to provide more details

[2021-09-17 02:41] Stephenzza commented on #6084
Thank u!

[2021-09-17 02:41] #6084 closed

[2021-09-17 02:43] BIGWangYuDong commented on #6119
Try to follow this
Important: The default learning rate in config files is for 8 GPUs and 2 img/gpu (batch size = 8*2 = 16). According to the linear scaling rule, you need to set the learning rate proportional to the batch size if you use different GPUs or images per GPU, e.g., lr=0.01 for 4 GPUs * 2 imgs/gpu and lr=0.08 for 16 GPUs * 4 imgs/gpu.

https://github.com/open-mmlab/mmdetection/blob/138

[2021-09-17 02:53] Hbenbenyu commented on #6118
Ok, thank you for your answer.
How to test the inference code?
Where are the relevant codes used to calculate the mAP?
What details do I need to provide you?

[2021-09-17 04:01] AronLin commented on #6059
![image](https://user-images.githubusercontent.com/29054582/133722182-eb903003-b827-40c3-94f9-f7340a8c876b.png)

[2021-09-17 04:06] AronLin commented on #6105
The length of det_results[0] is 20, each contains the results of one class.
You can get the results of `person` and `car` by their index and concatenate the results of these two classes as new det_results.

[2021-09-17 04:08] #6063 closed

[2021-09-17 05:57] deepsea12 commented on #6059
I actually already did that. And even after doing that model.classes outputs all 20 classes.

[2021-09-17 07:45] YuYue26 commented on #6057
/home/yuyue/下载/mmdetection-master/mmdet/core/anchor/builder.py:17: UserWarning: ``build_anchor_generator`` would be deprecated soon, please use ``build_prior_generator``
  '``build_anchor_generator`` would be deprecated soon, please use '
Use load_from_local loader
/home/yuyue/下载/mmdetection-master/mmdet/datasets/utils.py:69: UserWarning: "ImageToTensor" pipeline is replaced by "DefaultFormatBundl

[2021-09-17 07:53] YuYue26 opened #6120 "验证安装的时候报错，Userwarning"
/home/yuyue/下载/mmdetection-master/mmdet/core/anchor/builder.py:17: UserWarning: ``build_anchor_generator`` would be deprecated soon, please use ``build_prior_generator``
  '``build_anchor_generator`` would be deprecated soon, please use '
Use load_from_local loader
/home/yuyue/下载/mmdetection-master/mmdet/datasets/utils.py:69: UserWarning: "ImageToTensor" pipeline is replaced by "DefaultFormatBundl

[2021-09-17 07:56] YuYue26 commented on #4790
have you get over this problem, I meet the same!!!

[2021-09-17 08:01] yunh-w opened #6121 "Mosaic在 cascade rcnn 上精度很低"
Mosaic 在 cascade rcnn 上精度很低，请问是config 没有改对吗，config 如下：

# dataset settings
dataset_type = 'CocoDataset'
data_root = ''
img_norm_cfg = dict(
    mean=[123.675, 116.28, 103.53], std=[58.395, 57.12, 57.375], to_rgb=True)

img_scale=(1333, 800)

img_scale = (640, 640)

train_pipeline = [
    dict(type='Mosaic', img_scale=img_scale, pad_val=114.0),
    dict(
        type='RandomAffine',
        scaling

[2021-09-17 08:41] AronLin commented on #6059
https://github.com/open-mmlab/mmdetection/blob/fa10539397af557853cc5f72f4cd1aba8a174d44/tools/test.py#L199

Here we set the model.CLASSES, you can go to check what happened.

[2021-09-17 09:01] junhuplim opened #6122 "Train pipeline MixUp augmentation"
I am trying to add the MixUp augmentation into my training pipeline (a faster rcnn model).

` File "/usr/local/lib/python3.6/dist-packages/mmdet/datasets/custom.py", line 195, in __getitem__
    data = self.prepare_train_img(idx)
  File "/usr/local/lib/python3.6/dist-packages/mmdet/datasets/custom.py", line 218, in prepare_train_img
    return self.pipeline(results)
  File "/usr/local/lib/python3.

[2021-09-17 09:31] junhuplim commented on #6122
adding my config file here

`model = dict(
    type='FasterRCNN',
    backbone=dict(
        type='ResNet',
        depth=50,
        num_stages=4,
        out_indices=(0, 1, 2, 3),
        frozen_stages=1,
        norm_cfg=dict(type='BN', requires_grad=True),
        norm_eval=True,
        style='pytorch',
        init_cfg=dict(type='Pretrained', checkpoint='torchvision://resnet50')),
    neck=d

[2021-09-17 11:04] huyhoang17 opened #6124 "Error when convert model to torchserve format"
**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
I want to convert a model to torchserve's mar format. I run the mmdet2torchserve.py script in tool/deployment fold

[2021-09-17 14:12] shinya7y commented on #6119
10126 = 40504 / 4 (40504 images on 4 GPUs)
Thus your val dataset seems COCO `val2014` (40504 images).

`val2014` is different from [`minival2014` (8059 images)](https://github.com/tensorflow/models/blob/master/research/object_detection/data/mscoco_minival_ids.txt) used in TensorFlow 1 Detection Model Zoo.

[2021-09-17 14:15] BIGWangYuDong commented on #6120
This is only a warning, there is no error report.

[2021-09-17 14:15] #6120 closed

[2021-09-17 14:21] BIGWangYuDong commented on #6118
1. use val data as test data.
2. you can following https://github.com/open-mmlab/mmdetection/blob/master/docs/1_exist_data_model.md#test-existing-models --eval xxx
3. config files

[2021-09-17 14:24] BIGWangYuDong commented on #6124
It looks like you are missing some installation packages, you can try to use `pip install -v -e .[all] ` to install fully mmdet
https://github.com/open-mmlab/mmdetection/blob/master/docs/useful_tools.md#1-convert-model-from-mmdetection-to-torchserve

[2021-09-17 14:42] Hbenbenyu commented on #6118
Thank you! I will try to test it with your approach.
I have ever uesd the demo code to visualize the test set, the result was not good, but I will try your approach.
The test mAP has been about 0.7 because I changed the ratio and strides to the initial ones, but it is still much lower than the val mAP.
My config files are shwon as:
faster_rcnn_r50_fpn_1x_voc0712.py
_base_ = [
    '../_base_/models

[2021-09-17 14:48] Hbenbenyu commented on #6118
Thank you! I will try to test it with your approach.
I have ever uesd the demo code to visualize the test set, the result was not good, but I will try your approach.
The test mAP has been about 0.7 because I changed the ratio and strides to the initial ones, but it is still much lower than the val mAP.
My config files are shwon as:
# faster_rcnn_r50_fpn_1x_voc0712.py
_base_ = [
    '../_base_/mode

[2021-09-17 22:14] AndreaPi opened #6126 "Cannot get albumentations augmentations to work with mask_rcnn_50 on a custom dataset"
**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
I try to train a mask_rcnn_50 model on a custom dataset of `COCODataset` type using Albumentation augmentations, f

[2021-09-18 02:24] FDInSky opened #6127 "异构数据集训练"
请问：Cross-dataset Training for Class Increasing Object Detection这篇论文有复现计划吗？

[2021-09-18 02:52] PLester commented on #4098
！！！
remember set following in you cfg file:
`find_unused_parameters = True`

[2021-09-18 03:31] Hbenbenyu commented on #6118
I have tried the val data, and the mAP is 1, as same as the mAP during the training.
Does this prove the code to be normal?
How can I modify the codes to improve the test mAP?

[2021-09-18 04:34] Soodep commented on #6059
@AronLin Like you suggested I made changes to my dataset setting in voc0712.py as follows:
![image](https://user-images.githubusercontent.com/9031472/133872073-7d3d4069-f516-485c-be72-ee625457683f.png)
![image](https://user-images.githubusercontent.com/9031472/133872079-e713a930-edde-4db8-9411-e456262cd5cf.png)

And in test.py, I checked the output of model.CLASSES:
![image](https://user-images.gi

[2021-09-18 04:45] deepsea12 commented on #6105
@AronLin sorry for too many questions, I am very new to mmdetection and I really appreciate your help. What changes should I make for your suggestion, could you please be more specific? I know the index of person and car but how to concateneate the results of these two classes as new det_results? Where should I make the changes in my mmdetction code?

[2021-09-18 06:23] greeksharifa commented on #6077
hmm, I can get the answer at btup paper. thanks.

[2021-09-18 06:23] #6077 closed

[2021-09-18 06:51] hhaAndroid commented on #6126
@AndreaPi The format parameter should be `pascal_voc `instead of `coco`. If the assert error still occurs, it means that there is an out-of-bounds situation in your label.

[2021-09-18 06:57] hhaAndroid commented on #6127
@FDInSky We have related plans for multi-data and cross-data training tasks, but it may take a long time. Welcome to the community PR.

[2021-09-18 07:27] azade-a opened #6128 "How set `_delete_=True` to ignore the base config"
Hello everyone.
I used [Solo ](https://github.com/WXinlong/mmdetection/tree/SOLO)branch and ran test.py on my custom dataset and got this error:

/mmdetection-SOLO/mmdetection-SOLO$ python "/home/mmdetection-SOLO/mmdetection-SOLO/tools/test.py"  "/home/mmdetection-SOLO/mmdetection-SOLO/configs/solo/solo_r50_fpn_1x_card.py" "/home/mmdetection-SOLO/mmdetection-SOLO/checkpoints/epoch_12.pth" --show-d

[2021-09-18 08:56] qsc-1999 commented on #6060
I have the same problem. But I try to solve it and failed...

[2021-09-18 09:37] azade-a commented on #6128
Hi again .
that's the solution [Link](https://github.com/open-mmlab/mmdetection/blob/master/docs/tutorials/customize_runtime.md#additional-settings)

[2021-09-18 11:06] shinya7y commented on #5153
`HeadHook` of TOOD will be helpful as a related example.
https://github.com/fcjian/TOOD/blob/master/mmdet/core/utils/head_hook.py
https://github.com/fcjian/TOOD/blob/876db1f29046ab307636e221fed416e80d9a8f56/configs/tood/tood_r50_fpn_1x_coco.py#L73-L76

[2021-09-18 14:39] AndreaPi commented on #6126
@hhaAndroid thanks, that fixed that error, but **why** did ti work? My dataset is in `COCODataset` format, not PASCAL_VOC.

However, now I have an `AttributeError`:

[code]

Since the error is different now, should I close this issue and open a new one?

[2021-09-18 20:16] victoryc opened #6129 "FocalLoss with OhemSampler gives error"
When I try to use FocalLoss together with OhemSampler, I get the following error:
[code]

Any idea about the cause/fix? Though combining OHEM with Focal Loss won't be a common option, I don't see them as really mutually exclusive.

Thanks.

[2021-09-19 02:27] aliman80 commented on #2527
ImportError: cannot import name 'init_dist' from 'mmdet.apis' hi i am trying to run zeroshot detection code and from git hub and getting this eror.
The version you were using is quite old. You can change it to from mmcv.runner import init_dist.  Can you tell me where should i change this ?

[2021-09-19 06:23] AndreaPi opened #6130 "What is the correct learning rate for training on a single GPU?"
The documentation is a bit confusing: here it seems that for training on a single GPU, just using the `tools/train.py` script is sufficient

https://mmdetection.readthedocs.io/en/latest/1_exist_data_model.html?highlight=single%20gpu#training-on-a-single-gpu

However, here it seems that I have to change the learning rate before training on a single GPU:

https://mmdetection.readthedocs.io/en/latest

[2021-09-19 06:36] AndreaPi opened #6131 "How do I print the validation loss for each epoch?"
As per subject: with a default config I'm able to print train loss, bbox mAP, seg mAP, etc. (I'm doing instance segmentation), but I'd like to visualize the val loss too in Tensorboard. How can I log the val loss too? I searched the docs with "print validation loss", but I had no luck.

[2021-09-19 07:51] nTnZone commented on #188
hey, what application you use for tracing gpu memory?

[2021-09-19 12:17] neel04 opened #6133 "[Feature Request] More documentation on creating config files?"
I have noticed that the beginners to this amazing library are often confused by lack of documentation on `config` which is arguably the most important aspect for training these models.

For example, suppose I wish to use config file from Swin (https://github.com/SwinTransformer/Swin-Transformer-Object-Detection/blob/master/configs/swin/cascade_mask_rcnn_swin_small_patch4_window7_mstrain_480-800_gi

[2021-09-19 19:05] AndreaPi opened #6134 "Include model details in the model zoo page"
**Describe the feature**
For each model included in the [model zoo](https://mmdetection.readthedocs.io/en/latest/model_zoo.html), include the model details (learning schedule, train time, inference time, box AP,  mask AP (for segmentation tasks), etc.) in the model zoo page, rather than in linked pages.
**Motivation**
One of the main reasons for having a model zoo page is to be able to quickly com

[2021-09-20 03:06] ChicoQ opened #6135 "adding export_onnx for QueryInst/Sparse RCNN"
Currently, I'm working on this function and I'd like to contribute my work to our community.

**Describe the feature**

**Motivation**
A clear and concise description of the motivation of the feature.
Ex1. It is inconvenient when [....].
Ex2. There is a recent paper [....], which is very helpful for [....].

**Related resources**
If there is an official code release or third-party implementations,

[2021-09-20 03:56] ZwwWayne commented on #6129
This usually requires returning the loss without reduction. It seems that the classification loss has been averaged and summed up. OHEM sampler should not work with FocalLoss because the weight of each item has already been calculated with the factored defined in FocalLoss, thus the return of FocalLoss is already a scalar that cannot work with OHEM.

[2021-09-20 03:57] ZwwWayne commented on #6130
Yes, the original setting works for a total batch size of 8x2 with 8 GPUS x 2 samplers_per_gpu.

[2021-09-20 03:57] #6130 closed

[2021-09-20 03:58] #6128 closed

[2021-09-20 03:58] ZwwWayne commented on #6128
Yes, this is the correct solution.

[2021-09-20 03:59] ZwwWayne commented on #6133
Please refer to https://mmdetection.readthedocs.io/en/latest/tutorials/config.html.

[2021-09-20 04:01] ZwwWayne commented on #6131
See the example here. https://mmdetection.readthedocs.io/en/latest/tutorials/customize_runtime.html?highlight=workflow#customize-workflow

[2021-09-20 04:01] #6131 closed

[2021-09-20 04:02] ZwwWayne commented on #6135
Hi @ChicoQ ,
We may do that in the next several months. PRs are welcomed.

[2021-09-20 04:05] ZwwWayne commented on #6134
Thanks for your kind suggestion. Actually, we are working on providing a way to compare different models but it might take some time. For now, this page may help you https://paperswithcode.com/lib/mmdetection

[2021-09-20 04:06] #6098 closed

[2021-09-20 04:30] Hussni-V opened #6136 "onnx export model differs too much from pytorch model"
Thanks for your error report and we appreciate it a lot.

**Describe the bug**
I trained faster-rcnn on a custom coco dataset and exported it to onnx using pytorch2onnx.py.
The onnx model results differs too much from pytorch model.

I retried training and exporting using retinanet and this problem did not occur?

**Reproduction**

1. What command or script did you run?

[code]

[code]

I provide

[2021-09-20 07:48] FrancescoSaverioZuppichini opened #6137 "Data-Aug"
Dear all,

I would like to know which data-aug is used and how to change it!

Thank you

Cheers,

Francesco

[2021-09-20 08:06] AndreaPi commented on #6134
@ZwwWayne good to know! I'd be glad to help, but I only have experience to write `md` files. If you just need to create Markdown tables, similar to what the Detectron2 folks did, I can contribute, but if you plan to do something more advanced (e.g., a webpage which updates automatically when new models are added to MMDetection), I cannot help much.

[2021-09-20 09:54] guillaumefrd commented on #4747
I would also be interested in the addition of this feature.

[2021-09-20 10:49] xjtuzxk opened #6138 "Want to save best model in MMdetection"
Here is my config file:
# model settings
model = dict(
    type = 'YOLOV3',
    pretrained = '/data0/steelai/mng/webapp/upload/preTrainedModel/2021/9/10/613b2624cc7ca91773574ffbZm72pD.pth',
    backbone = dict(
        type = 'Darknet',
        depth = 53,
        out_indices = (3,4,5),
        frozen_stages = -1,
        conv_cfg = None,
        norm_cfg = dict(
            type = 'BN',

[2021-09-20 11:23] dimimal opened #6139 "Overlapping bounding boxes from the same class"
Hi, I have built a mask-RCNN model on my custom dataset using COCO and when I do inference using the `model.show_result()` function, i noticed that I get an enclosed bbox inside another bbox which is of the same class.

Do you have any ideas why this might happen?
Is this because the NMS is not applied correctly?
Im using the predefined test_cfg in the mask-RCNN with IoU overlap of 0.7

[2021-09-20 12:54] yusiyoh commented on #3485
Hello,
I have same issue and want to use mmdetect for a dataset with multi-labels (traffic lights with direction + aspect information, thus there are 4+3 classes, 4 directions, and 3 bulb numbers). @ngalym could you find any solution for your task?
Thanks

[2021-09-20 15:45] deepsea12 commented on #6059
@Soodep did you solve this?

[2021-09-20 21:21] AndreaPi opened #6141 "AttributeError: 'tuple' object has no attribute 'flatten'"
**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
I'm trying to train a Mask-RCNN-r50 on a custom dataset of type `COCODataset` with 5 classes. The config file is v

[2021-09-21 08:12] tikitong opened #6142 "What is the difference between conf_thr and score_thr in the yolo model parameters?"
In yolo model setting can you explain the exact difference between **conf_thr** and **score_thr** ?
https://github.com/open-mmlab/mmdetection/blob/fa10539397af557853cc5f72f4cd1aba8a174d44/configs/yolo/yolov3_d53_mstrain-608_273e_coco.py#L55

[code]
In other model setting such as vfnet, only score_thr is set.

https://github.com/open-mmlab/mmdetection/blob/fa10539397af557853cc5f72f4cd1aba8a174d44/c

[2021-09-21 08:16] lsjAI opened #6143 "filter_empty_gt=False"
When I set filter_empty_gt=False, how are images without GT involved in the training? The coco.py. dataset 's function
 'load_annotation' will set the image's label without GT as None, how does it compute loss and the downstream operations?

[2021-09-21 09:09] junhuplim commented on #6122
Okay, we have to wrap our dataset with `MultiImageMixDataset` to wrap around your dataset. Can follow the config found in yolox

[2021-09-21 09:10] #6122 closed

[2021-09-21 13:39] PeterVennerstrom commented on #6139
IoU based nms will allow a box completely enclosed inside another box of the same class provided the IoU is below the threshold.

The threshold could be lowered to filter more boxes.

An nms could be created to filter any boxes completely enclosed by other boxes.

[2021-09-21 15:50] PeterVennerstrom commented on #6142
conf_thr is used to first filter the results by their objectness score before applying nms.  score_thr is used in the nms function to filter results by their class scores.

From the get_bboxes() method:

'''
conf_thr = cfg.get('conf_thr', -1)
            if conf_thr > 0:
                conf_inds = objectness >= conf_thr
                bboxes = bboxes[conf_inds, :]
                scores = scores

[2021-09-21 16:00] tikitong commented on #6142
@PeterVennerstrom Thanks , I'm not sure what **their objectness** means, can you be more specific?

[2021-09-21 16:11] huyhoang17 commented on #6124
Closed. I got a conflict between torch-model-archiver and model-archiver package. Uninstall model-archiver and it works well
Thanks for your support!

[2021-09-21 16:11] #6124 closed

[2021-09-21 16:42] AndreaPi commented on #6141
Ok, my bad, the `AttributeError` was due to an error in the config file. For `mask_rcnn` on a custom dataset of type `CocoDataset`, **this** is the right way to set the number of classes:

[code]

[2021-09-21 16:42] #6141 closed

[2021-09-21 17:51] PeterVennerstrom commented on #6142
Anchor based methods often predict an objectness score for each anchor.  In YOLO's case, the class scores are predicted separately per grid and there are multiple anchors per grid.

Objectness is described in the original YOLO paper as "... how confident the model is that the box contains an object and also how accurate it think the box is that it predicts".

[2021-09-21 19:13] deepsea12 commented on #6105
@AronLin I am still unable to solve it. Could you please throw me some ideas

[2021-09-21 21:01] AndreaPi commented on #6126
Ok, the `AttributeError` was due to the fact that I made a mistake when overwriting all the `num_classes` from default value (e.g. 80 in COCO) to my number of classes. The right way to do it is illustrated here:

  https://github.com/open-mmlab/mmdetection/issues/6141#issuecomment-924164079

I **still** can't get the Albumentation augmentations to work, but now the error I get is very different, s

[2021-09-21 21:01] #6126 closed

[2021-09-22 03:12] AronLin commented on #6059
It is strange. You set the dataset.CLASSES but it is still 20 classes.
I guess the checkpoint you loaded has `CLASSES` in `meta`, and it is 20 classes.

[2021-09-22 03:25] #6057 closed

[2021-09-22 03:26] #6108 closed

[2021-09-22 03:26] #6107 closed

[2021-09-22 03:31] #6119 closed

[2021-09-22 03:37] BIGWangYuDong commented on #6118
Hi,
Did you use the original VOC dataset, or use your own dataset?
It seems that the model is overfitting. Try to use some data augment to avoid this

[2021-09-22 05:28] AronLin commented on #6105
In single_gpu_test or multi_gpu_test of apis\test.py, the result of model is a tuple.
The first element is the bboxes and the second is the masks. Each element is a list with the length of classes.
What you need to do is to take out the results of two categories you need from the results of the 20 categories to form a list according to the indices, and then combine the results of bbox and mask int

[2021-09-22 06:25] jshilong commented on #6136
@RunningLeon Would you mind taking a look at this PR?

[2021-09-22 06:28] jshilong commented on #6137
You can find all data augmentation in the `train_pipline` in all configs, such as https://github.com/open-mmlab/mmdetection/blob/5ef56c174b3b93c6f320d6312ed6c1764e0e4f29/configs/_base_/datasets/coco_detection.py#L6

[2021-09-22 06:39] jshilong commented on #6138
Is there any modification? I can not reproduce your error

[2021-09-22 06:58] yunh-w commented on #6121
@BIGWangYuDong @hhaAndroid   请问这个应该怎么改下呢，加上后精度基本为0，不加精度是正常的，AP50有50%

[2021-09-22 08:20] willhunger commented on #5377
@alaa-shubbak
Hey, Could you share your solution to this problem ?
I caught the same problem as yous.

[2021-09-22 10:40] alaa-shubbak commented on #5377
yes , sure with my pleasure.

as you did the download of mmdetection correctly as mentioned in the main page, only you need to be sure that you have a correct from of dataset, and you have correct config file.

i used coco dataset format, that means i made my annotation of my dataset to be fit with coco format.
the main problems i faced that segmentation polygon data should be written inside [[ ]]

[2021-09-22 11:12] #6139 closed

[2021-09-22 12:04] RunningLeon commented on #6136
@Hussni-V Could try with PyTorch==1.8.0 and ONNXRuntime==1.8.0. Tested OK on my machine
[code]
![ONNXRuntime](https://user-images.githubusercontent.com/28671653/134340052-17ba59fc-c98d-4443-ad42-2b642d9d8858.png)

[2021-09-22 12:07] junhuplim opened #6148 "Metrics Insights"
Hi I am currently training a faster rcnn model for an obj detection task and am looking at the metrics provided in `test.py`.

1) Are there any ways for my model to output the number of TPs, FPs, TNs and FNs instead of just the mAP@IoU values?
2) What is the difference between COCO bbox eval and PASCAL_VOC mAP eval for an object detection task
3) For an object detection task, does the metric consi

[2021-09-22 12:16] FrancescoSaverioZuppichini opened #6149 "<DATASET_NAME> is not in the dataset registry"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help. -> checked with the search button, I found one similar [here](https://github.com/open-mmlab/mmdetection/issues/5800) but no real fix
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help

[2021-09-22 12:30] FrancescoSaverioZuppichini commented on #6137
Perfect, thank you :)

[2021-09-22 12:30] #6137 closed

[2021-09-22 12:33] FrancescoSaverioZuppichini commented on #6149
[SOLVED]

So, install mmdet with `pip` or whatever you like then:
- Create your `custom_dataset.py` following the [doc](https://mmdetection.readthedocs.io/en/latest/tutorials/customize_dataset.html).
- copy the `tools/train.py` file in your project

The structure looks like

[code]

In `train.py` import your dataset

[code]
Done! You can now run `train.py` with your custom dataset

[2021-09-22 12:33] #6149 closed

[2021-09-22 12:42] neel04 commented on #6133
nvm that, right now the only error Is @ZwwWayne :-
[code]
It seems that If I set the key's value to `None` this errors out. I am confused why masks are still required, because the branch is specifically for object detection

[2021-09-22 13:42] deepsea12 opened #6150 "dets very high?"
![image](https://user-images.githubusercontent.com/90724607/134354614-d79e2a2d-e06f-4f93-b84e-bf0987409993.png)
 Any ideas why the no of dets is very high? I am testing 200 images ( KITTI dataset ) with pascal voc config and the original model.

[2021-09-22 13:46] deepsea12 commented on #6105
I am using my own trained model now instead of the official model. But I am still not satisfied with the results. As you can see no. of dets is very high? What could be the reason for such high value of dets and what i can improve to get higher mAP.
![image](https://user-images.githubusercontent.com/90724607/134355638-92f667ea-36fc-446b-bb1f-0efd8cd17eb0.png)

[2021-09-22 14:12] deepsea12 commented on #6150
Model setting:
# model settings
model = dict(
    type='FasterRCNN',
    backbone=dict(
        type='ResNet',
        depth=50,
        num_stages=4,
        out_indices=(0, 1, 2, 3),
        frozen_stages=1,
        norm_cfg=dict(type='BN', requires_grad=True),
        norm_eval=True,
        style='pytorch',
        init_cfg=dict(type='Pretrained', checkpoint='torchvision://resnet50')),
    nec

[2021-09-22 14:14] AronLin commented on #6105
You can use a better method, faster r-cnn is an old method.

[2021-09-22 15:33] bpfliegel opened #6151 "ONNX export - MaskRCNN and skip-postprocessing"
Dear developers,

I have a custom (in terms of data, otherwise standard one included in mmdetection) MaskRCNN model, with which I was able to do a lot of things, export to onnx, build the corresponding onnx plugin for roialign and related ops and also got it working under Nvidia's Triton server.

What I'm struggling with is that the output for the masks is (Nx1xHxW), where N is 100, H,W is the ori

[2021-09-22 17:27] bpfliegel commented on #6151
This PR might be related: https://github.com/open-mmlab/mmdetection/pull/5282/commits

[2021-09-22 17:29] bpfliegel commented on #6151
In any case, please explain what post-processing means generally in mmdetection, how should we interpret it, Thanks!

[2021-09-22 17:44] PeterVennerstrom commented on #6151
_do_paste_masks() in export_onnx() in fcn_mask_head.py is responsible for resizing the model output size masks to the original image size.

mask_onnx_export() in standard_roi_head.py has a reshaping operation that needs to be adjusted.

The PR you linked shows the reshaping adjustment in standard_roi_head.py and _do_paste_masks() could just be commented out in fcn_mask_head.py

[2021-09-22 18:11] bpfliegel commented on #6151
@PeterVennerstrom very kind of you, thanks Peter. Will do as you suggested! Any comments on what generally post-processing means? I am totally new to mmdet, but like it much, very modular and lovely. Thanks again.

[2021-09-22 22:11] victoic commented on #5944
Should changing my coco annotation file should be accompanied by a change in semantic annotation? If not, then I don't think it could be that, since I do not change the semantic segmentation annotation, as could be seen in the config.

I'm closing the issue for now, however. I was able to train using other models. As soon as I'm avaiable to test DetectoRS again I'll come back to this issue. Thank

[2021-09-22 22:11] #5944 closed

[2021-09-22 22:28] PeterVennerstrom commented on #6151
I think post-processing generally means the steps performed on the output of trained layers to yield the final results.  Filtering out low score detections, NMS, resizing to the original image size and thresholding of masks are a few examples of post processing steps.  The necessary post processing operations vary between methods.

[2021-09-23 01:00] hhaAndroid commented on #6143
For detection tasks, the classification loss will be calculated, but the bbox loss will be skipped.

[2021-09-23 01:06] #6029 closed

[2021-09-23 01:06] #5990 closed

[2021-09-23 01:21] #5778 closed

[2021-09-23 01:23] #6054 closed

[2021-09-23 01:26] #5261 closed

[2021-09-23 01:28] #5977 closed

[2021-09-23 01:34] hhaAndroid commented on #5216
It seems that the configuration file is incorrect

[2021-09-23 01:35] #5903 closed

[2021-09-23 02:14] hhaAndroid commented on #5474
If you are training with multiple GPUs, you need to use the dist script

[2021-09-23 02:16] RangiLyu commented on #6150
It is normal because the score threshold of the detection results which pass to the eval function is 0.05. The num of `dets` includes a lot of low score boxes.

[2021-09-23 02:23] RangiLyu commented on #6151
Postprocessing means decoding the output features from the CNN model into the final results such as boxes and masks. The specific process is the same as Peter said above.

[2021-09-23 02:25] #5668 closed

[2021-09-23 02:25] #5716 closed

[2021-09-23 02:30] RangiLyu commented on #6060
Currently, if you want to change the target assign method, the best way is to inherit the original head and overwrite the `get_targets` function.

[2021-09-23 02:30] #6060 closed

[2021-09-23 02:30] #6113 closed

[2021-09-23 02:33] #5798 closed

[2021-09-23 02:33] #5867 closed

[2021-09-23 02:36] RangiLyu commented on #6070
We tested recently but cannot reproduce this error. Feel free to reopen the issue if you can provide more detailed information.

[2021-09-23 02:36] #6070 closed

[2021-09-23 03:42] Hussni-V commented on #6136
yes, downgrading from pytorch 1.9.0 tp pytorch 1.8.0 allows me to get the correct results

[2021-09-23 03:56] Hussni-V commented on #6136
@RunningLeon Does this error occur on your machine if you upgraded to pytorch 1.9.0?

[2021-09-23 05:01] ban1080 commented on #5807
@mesenlol Did you test TensorRT-7.2.1.6? If so, are the results between TensorRT-7.2.1.6 and TensorRT7.2.3.4/TensorRT8.0.1.6 the same?

[2021-09-23 06:04] Hbenbenyu commented on #6118
Hi, thank you for your help.
My dataset is small, I will try some data augmentation methods.

[2021-09-23 07:15] hongyanghu commented on #6059
![image](https://user-images.githubusercontent.com/29887717/134467631-5652f54d-369c-4c86-b3be-8fba1e28f25e.png)
The problem may be solved by this way，if your dateset is ```voc``` 。Comment the following statement，makes ```ds_name = self.CLASSES``` ,and ```self.CLASSES`` is what you need

[2021-09-23 08:05] FrancescoSaverioZuppichini opened #6153 "Variables in config"
**Describe the feature**
I would like to have variable in the config.py file. One use case is a custom dataset path that may be known only ad runtime. Currently, there is no way to inject a variable in the config file.

Thank you!

Cheers,

Francesco

[2021-09-23 09:45] jiejie1993 commented on #5108
I met the same error with PyTorch==1.7.0. Any solution to it ?
`Traceback (most recent call last):
  File "tools/deployment/onnx2tensorrt.py", line 254, in <module>
    verbose=args.verbose)
  File "tools/deployment/onnx2tensorrt.py", line 45, in onnx2tensorrt
    max_workspace_size=max_workspace_size)
  File "/workspace/mmcv/mmcv/tensorrt/tensorrt_utils.py", line 63, in onnx2trt
    raise Runtime

[2021-09-23 09:53] RangiLyu commented on #6153
The config is modifiable. How did you inject the variable? Any use case?

[2021-09-23 11:33] liliwannian commented on #6143
Has it been solved?

[2021-09-23 11:35] FrancescoSaverioZuppichini commented on #6153
Yes, it is :) Imagine for example that I don't want to call `train.py` from the `cl`.

[2021-09-23 11:40] lsjAI commented on #6143
May be. You can set the filter_empty_gt=False to load the image without object. For detection tasks, the classification loss will be calculated, but the bbox loss will be skipped.

[2021-09-23 11:46] lsjAI commented on #6143
Thanks, but I didn't assign a category like '0' for the image without object in the annotation files. In the annotation file these images' annotation is empty. So how dose the classification loss compute, the code will make these images belong to '0' category?

[2021-09-23 14:57] #6118 closed

[2021-09-23 20:36] bpfliegel commented on #6151
Very kind of you, thanks a lot for your clarification. It was very easy to do. Lovely framework, great job!

[2021-09-23 23:03] Brym-Gyimah opened #6155 "How to use mixup and mosaic augmentation"
I have been trying to implement mosaic and mixup augmentation but always get stuck with these errors. I dont know how to navigate it through, hoping for some help.
Thank you

Caught AssertionError in DataLoader worker process 0.
Original Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/torch/utils/data/_utils/worker.py", line 178, in _worker_loop
    data = fetcher

[2021-09-24 01:37] hhaAndroid commented on #6155
@Brym-Gyimah mosaic and mixup must be used together with MultiImageMixDataset.

[2021-09-24 01:44] hhaAndroid commented on #6153
@FrancescoSaverioZuppichini Very good, but you can also directly add variables in the configuration and read them in the program yourself, which would be better.

[2021-09-24 01:49] hhaAndroid commented on #6148
@junhuplim Hi

1. You need to rewrite the `dataset.evaluate` function
2. The difference between them can be found through the official website introduction of COCO and VOC
3. In fact, bbox confidence score is considered when calculating TP and FP

My answer is relatively concise, if you have any questions, you can communicate.

[2021-09-24 01:50] #6143 closed

[2021-09-24 01:55] #6127 closed

[2021-09-24 01:59] hhaAndroid commented on #6111
@waddington Why is there such a demand?

[2021-09-24 02:00] hhaAndroid commented on #6093
This is indeed a bug, you can refer to https://github.com/open-mmlab/mmdetection/pull/6144

[2021-09-24 02:02] junhuplim commented on #6148
@hhaAndroid Hello, thanks for the response!

1. Got it, am dabbling around there now
2. Are you able to direct me with the link? Have been looking around the docs but can't find the required information
3. I see, again are you able to point me to the relevant code blocks? I am currently looking at `mean_ap.eval_map` and `mean_ap.average_precision` functions now, (I am evaluating on a Custom datase

[2021-09-24 02:03] #6075 closed

[2021-09-24 02:09] #6151 closed

[2021-09-24 02:10] Brym-Gyimah commented on #6155
Is there an example of how MultiImageMixDataset has been used as I’m not getting much clarity on the official doc

[2021-09-24 02:11] #6059 closed

[2021-09-24 02:15] hhaAndroid commented on #5997
Yes

[2021-09-24 03:15] junhuplim commented on #6148
Okay, for (3), I think i have to look around the `mean_ap.tpfp_default` function instead - since you said it was how TP and FP is calculated. I realise that the det_bboxes has shape of (m, 5) while gt_bboxes has shape of (n, 4). Am i write to say that `det_bboxes[:, -1]` is then the bbox confidence score? If I am right, I still don't see how the confidence score is being considered

[2021-09-24 03:25] junhuplim commented on #6155
You can take a look at the yolox model config, it uses MultiImageMixDataset there

[2021-09-24 03:28] junhuplim commented on #6150
Hi @RangiLyu , do you know where can I find the score threshold that you mention to be 0.05? I am looking to alter that parameter.

[2021-09-24 03:55] RangiLyu commented on #6150
It's in config
[code]

[2021-09-24 04:11] junhuplim commented on #6150
ahh i see, actually missed that.. thanks alot! :D

[2021-09-24 05:37] RangiLyu commented on #6150
This is due to the mAP calculation mechanism. Boxes with all ranges of scores are used during the mAP calculation.

[2021-09-24 06:02] reclusezz opened #6156 "Problem while loading yolox-tiny model parameters"
The model and loaded state dict do not match exactly

unexpected key in source state_dict: ema_backbone_stem_conv_conv_weight, ema_backbone_stem_conv_bn_weight, ema_backbone_stem_conv_bn_bias, ema_backbone_stem_conv_bn_running_mean, ema_backbone_stem_conv_bn_running_var, ema_backbone_stem_conv_bn_num_batches_tracked, ema_backbone_stage1_0_conv_weight, ema_backbone_stage1_0_bn_weight, ema_backbone_

[2021-09-24 06:09] BIGWangYuDong commented on #6156
Hi, please use issue templet to give us more details

[2021-09-24 06:14] junhuplim commented on #6150
when you say boxes with all ranges of scores are used during the mAP calculation, do you mean only the boxes of scores above the set threshold? Am not really understanding here.

[2021-09-24 06:35] hhaAndroid commented on #6156
@reclusezz It does not matter, it is the ema model saved during training, you can ignore it or delete it manually.

[2021-09-24 07:26] FrancescoSaverioZuppichini commented on #6153
@hhaAndroid No I can, what if I need to add an instance of a class? or anything that is not a literal

[2021-09-24 07:57] bpfliegel opened #6157 "TRT export"
Hello,

I swear I tried everything to match cuda+cudnn+onnx+trt+pytorch versions in order to build both onnx and trt plugins and be able to convert a maskrcnn model to trt, but no luck so far.

Docs are a bit contradictory in this respect, e.g. these pages:

All models above are tested with Pytorch==1.6.0 and **onnxruntime==1.5.1**, except for CornerNet.
https://mmdetection.readthedocs.io/en/lates

[2021-09-24 08:19] AstroYuta opened #6158 "How to optimize hyper parameters using some frame works such as optuna?"
Hi forks! Thanks for developing this inspiring project!

I am currently working on instance segmentations using Mask R-CNN or Cascade R-CNN, and very new to this field. Note that my project is trying to identify thousands (>2000) rocks in an image.

I would like to optimize hyper parameters by using frameworks such as optuna (https://github.com/optuna/optuna), but I cannot figure out how to implem

[2021-09-24 08:40] jshilong commented on #6138
Feel free to reopen the issue if there is any question

[2021-09-24 08:40] #6138 closed

[2021-09-24 08:40] jshilong commented on #6136
kindly ping @RunningLeon

[2021-09-24 08:43] willhunger commented on #5377
Thank you very much.
I checked the coco dataset format and retried agian according to your detailed steps, but I failed again.
I used the coco api to load dataset and found my annotation works well.  I created the coco annotation by this [helper functions](https://github.com/waspinator/pycococreator).
Would you mind sharing your way to annotate your dataset?

I really appreciate your detailed repl

[2021-09-24 08:44] jshilong commented on #6081
Feel free to reopen the issue if there is any question

[2021-09-24 08:44] #6081 closed

[2021-09-24 08:47] jshilong commented on #6020
Would you mind explaining the difference with the official repo？ @hhaAndroid

[2021-09-24 08:55] jshilong commented on #6106
Sorry for the late response，we will add more detailed documents and make the pipeline more robust to the order of operation

[2021-09-24 08:56] #6087 closed

[2021-09-24 09:02] jshilong commented on #6086
Feel free to reopen the issue if there is any question

[2021-09-24 09:02] #6086 closed

[2021-09-24 09:07] junhuplim opened #6159 "Testing with negative images"
I am training a FRCNN with custom dataset, and want to test my model with negative images (images with no annotations). Currently, my json contains no bbox annotations for these negative images.

In the documentation, it says that model will not filter any images in test mode. However, my negative images are not being considered when i run `test.py config model --eval mAP`.

Do I need to include a

[2021-09-24 09:13] jshilong commented on #5891
Feel free to reopen the issue if there is any question

[2021-09-24 09:13] #5891 closed

[2021-09-24 09:30] reclusezz commented on #6156
Thx, another question. I replace the loss_obj with FocalLoss. Then I met the error shown as below. Do you have any idea how to solve it?

Traceback (most recent call last):
  File "/mypc/mmdetection-master/tools/train.py", line 190, in <module>
    main()
  File "/mypc/mmdetection-master/tools/train.py", line 186, in main
    meta=meta)
  File "/mypc/mmdetection-master/mmdet/apis/train.py", line 1

[2021-09-24 09:34] BIGWangYuDong commented on #6159
Hi, it seems that if you only inference these images, it does not need annotations. it is suggested to use `test.py config model --out result.pkl`, if you use eval, it will need annotations

[2021-09-24 09:36] junhuplim commented on #6159
Okay, it was my mistake. I forgot to update my json to include those negative images. I was able to run eval without annotations. I will try using `--out result.pkl` too

[2021-09-24 09:37] #6159 closed

[2021-09-24 09:43] RunningLeon commented on #6136
@jshilong We have in the doc: https://github.com/open-mmlab/mmdetection/blob/master/docs/tutorials/pytorch2onnx.md#list-of-supported-models-exportable-to-onnx

Minimum required version of MMCV is 1.3.5

All models above are tested with Pytorch==1.6.0 and onnxruntime==1.5.1, except for CornerNet. For more details about the torch version when exporting CornerNet to ONNX, which involves mmcv::cummax,

[2021-09-24 09:48] reclusezz commented on #6156
Also I found that if I replace the loss_obj with CIoULoss, the loss_obj  will be abnormal while training.

2021-09-24 09:33:31,595 - mmdet - INFO - Epoch [1][50/1802]     lr: 1.925e-06, eta: 1 day, 15:28:00, time: 6.586, data_time: 4.374, memory: 5520, loss_cls: 1.1192, loss_bbox: 0.0030, loss_obj: 10.1863, loss: 11.3086
2021-09-24 09:36:58,477 - mmdet - INFO - Epoch [1][100/1802]    lr: 7.699e-06

[2021-09-24 09:54] #6155 closed

[2021-09-24 10:00] BIGWangYuDong commented on #6158
- Is it possible to get loss values or accuracy in each epoch? Where can i get them?
   Losses are set as dict and you can find it in https://github.com/open-mmlab/mmdetection/blob/c57e3ee339a274cd650792190f12e2ab6c8d6e33/mmdet/models/detectors/two_stage.py#L150-L152

I haven't try optuna or other frameworks before. But changes in config file is not correct, config file is used to build models and

[2021-09-24 10:02] jeannotes opened #6160 "larger batchsize, bad results?"
when I train my own dataset using retinanet with batchsize-16, the map gets about 85%,
and I only enlarge the batchsize to 36, the map is 0
why does this happens, I train both using 2 gpus, I can confirm that I only change batchsize.

[2021-09-24 10:07] BIGWangYuDong commented on #6160
https://github.com/open-mmlab/mmdetection/blob/13880ae5fdfa2521060e377b0908148cc291eac0/docs/1_exist_data_model.md#train-predefined-models-on-standard-datasets

[2021-09-24 10:36] zz7379 opened #6161 "How to modify the number of bounding boxes in Faster-RCNN?"
I am applying the Faster-RCNN to detect the spots on tongue images. There a more than 200 spots on a tongue. How can i  modify the number of bounding boxes in Faster-RCNN at test time?
Following is my config

    type='FasterRCNN',
    pretrained='torchvision://resnet50',
    backbone=dict(
        type='ResNet',
        depth=50,
        num_stages=4,
        out_indices=(0, 1, 2, 3),
        fro

[2021-09-24 11:10] BIGWangYuDong commented on #6161
test_cfg = dict(
rpn=dict(
nms_across_levels=False,
nms_pre=1000,
nms_post=1000,
max_num=1000,
nms_thr=0.6,
min_bbox_size=0,
max_per_img=1000),
rcnn=dict(
score_thr=0.01,
nms=dict(type='nms', iou_threshold=0.5),
max_per_img=200))

you can follow https://mmdetection.readthedocs.io/en/latest/tutorials/config.html#an-example-of-mask-r-cnn

[2021-09-24 11:45] #6052 closed

[2021-09-24 11:59] waddington commented on #6111
So that I can more easily analyse the effect of different input image manipulations on trained models.

[2021-09-24 12:03] hhaAndroid commented on #6156
@reclusezz It may be that focal loss is not robust enough and needs to be improved.

[2021-09-24 13:57] deepsea12 commented on #6059
Do I have to change the number of classes in config file and pass Classes to the data.train/val/test.classes from config file? Because even after doing that I am not getting good result.
Dear @hhaAndroid could you please be more specific about the changes I need to make to evaluate the result for only 2 classes using the official model ( which is based on 20 classes )? I appreciate your help.

[2021-09-24 17:42] DaniloAlves1995 commented on #3751
Thank you, this fixed for me!

[2021-09-25 06:11] #6161 closed

[2021-09-25 10:21] iamzhh commented on #3029
same error! how to solve it ?

[2021-09-25 12:36] sxy1122 opened #6162 "Input type (torch.cuda.FloatTensor) and weight type (torch.FloatTensor) should be the same"
This problem occurs when modifying the network model FPN. Do you know how to solve it?
 Input type (torch.cuda.FloatTensor) and weight type (torch.FloatTensor) should be the same

[2021-09-25 13:17] zz7379 commented on #6161
Thank you for your patient ,but it is still not working. I set the max_per_img to 200, trained the model and tested it by demo/image_demo.py. The length of "inference_detector(model, img_pth)" is still 100.

[2021-09-25 16:40] PeterVennerstrom commented on #6162
It means you have model parameters (perhaps all of them) which are not on GPU like the input tensor.

Without knowing what you modified or how you are running it, your most likely solution is to put the model/fpn on GPU.

[code]

If that doesn't work please share the code or supply more information.

[2021-09-25 22:06] neel04 opened #6163 "Calculating model size/parameters for models under mmdet?"
This is a pretty critical and crucial QoL feature, yet since #264 we haven't got a way to do it?

If someone does know a quick way to calculate the same, or some feature I missed it would be more than welcome! 🤗

[2021-09-26 01:34] Bin-ze opened #6164 "I want to use ROS in the reasoning code of mmdetection to build sending and receiving, how can I do it?"

[2021-09-26 02:39] SwingWillwow opened #6165 "How to modify the codes and find the configs after installed with mim?"
After installed with mim I can import packages, but how can I modify the codes and find the configs mentioned in the document? I can not find the mmdet in my home.

[2021-09-26 03:02] hhaAndroid commented on #6163
@neel04 Please refer to https://github.com/open-mmlab/mmdetection/blob/master/docs/useful_tools.md#model-complexity

[2021-09-26 03:05] hhaAndroid commented on #6156
@reclusezz loss_obj represents the objectness branch loss, theoretically you should not use CIoULoss.

[2021-09-26 03:35] hhaAndroid commented on #6165
@SwingWillwow You can refer to https://github.com/open-mmlab/mim-example/blob/master/README_zh-CN.md

[2021-09-26 03:55] SwingWillwow commented on #6165
Thank you! That helps a lot. I also wonder if it is possible to get the intermediate results of the model and customize the training/evaluation? I am trying to design a Human-Object Interaction Detection model based on mmdet.

[2021-09-26 07:47] #6156 closed

[2021-09-26 08:18] y78h11b09 commented on #6155
Hi, did you solve it?  I added the content referencing to the yolox model config,  I thus  have the same problem. I found that it happen at the second epochs, it is difference between  the loading train_pipelines. but I don't know how to fix it.

[2021-09-26 08:42] AIZOOTech opened #6166 "When convert model from ONNX to TensorRT, ERROR: TopK_1080: length of reduction axis (950) is smaller than K (1000)"
**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
I download the model from mmdetection model zoo, and I try to convert the model to TensorRT, I can convert to ONNX

[2021-09-26 10:00] y78h11b09 commented on #6122
Did you solve it ? I added it by referencing with the mode  yolox cfg, but also happen this problem, can you show me how to fix it?

[2021-09-26 11:49] neel04 commented on #6163
That's grand! Thanx a lot @hhaAndroid ! 🤗

[2021-09-26 11:49] #6163 closed

[2021-09-26 11:52] neel04 commented on #6163
However, using this:-
[code]
seems like a bug, but I guess I can do away with this. Please investigate if you are able to reproduce!

[2021-09-26 12:47] junhuplim opened #6168 "How to retrieve bbox predicted by Faster RCNN model?"
As mentioned in the header, how can I retrieve the bbox information predicted by my model for each image? I am trying to build an open set recognition pipeline (stage 1 to localise the object to be detected and stage 2 to classify the detected objects).

[2021-09-26 13:56] junhuplim commented on #6168
answer can be found here #5951 , closing this.

[2021-09-26 13:56] #6168 closed

[2021-09-26 21:06] deepsea12 commented on #6105
Are there any parameters to play with in order the reduce the dets number?

[2021-09-27 07:26] AGanPoi opened #6169 "Start to train model and it stuck"
When start to train model，the volatile GPU-Util come to 100% and the console do not throw any information as if it is stuck.
![2](https://user-images.githubusercontent.com/35792267/134862853-32a98d32-809f-4477-9df7-87ec6284d124.png)

My GPU is V100,  cuda and nvcc version is 10.1
![1](https://user-images.githubusercontent.com/35792267/134862971-6962e574-e6bc-406f-8592-17f36bf22c33.png)

This is my

[2021-09-27 07:31] AGanPoi commented on #6169
And I press "Ctrl+C" to stop it, the volatile GPU-Util is also 100% and the processes still alive.

[2021-09-27 08:22] AstroYuta commented on #6158
@BIGWangYuDong Great thanks for the reply!
It took me several days to understand scripts, and finally I found a solution to edit **train_detector** in `mmdet/apis/train.py ` to return runner, so that I get dict of "loss" and "log_vars" by `runner.outputs`.

In this way, my modifications in tools/train.py are the following (cascade rcnn):
[code]

I'm trying but it seems to work well for hyperparame

[2021-09-27 09:14] lji72 opened #6170 "ATSS applied to RetinaNet causes Bug"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
 I want to improve the retinanet model performance by ap

[2021-09-27 10:30] Senwang98 opened #6171 "Some questions about anchor kmeans?"
Hi,
Recently, I need to use kmeans to get better anchor.
In optimize_anchors.py, why use max value of img shape rather than use default width and height to get ratio?
`ratios = img_shapes.max(1, keepdims=True) / np.array([input_shape])`.
In this way, the bbox in image losts the original width / height ratio.....
Wishing for your reply.

[2021-09-27 10:41] Senwang98 commented on #6171
This is my style of data preprocess before kmeans:
[code]
It seems that my style is different from yours.

[2021-09-27 11:43] AronLin commented on #6105
Do you mean the number of `bboxes` in the results?
You can try to set` test_cfg.rcnn.score_thr` in the config file to 0.5 or 0.6.

[2021-09-27 12:07] sxy1122 opened #6174 "AttributeError: 'FPN_F' object has no attribute 'dim'"
I modified the FPN model, created a small module, added it to the FPN, and modified the network structure of the FPN, but there was an error, saying that the small module I added did not have a dim? I would like to ask, this small module does not have dim attribute, how should I operate?

![屏幕截图 2021-09-27 200649](https://user-images.githubusercontent.com/77336413/134904923-688c569a-81f4-476a-b41b

[2021-09-27 13:35] FrancescoSaverioZuppichini opened #6175 "mAP defined in evaluation not showed in logs"
Thanks for your error report and we appreciate it a lot.

**Describe the bug**
Train a model with

[code]

The logs don't show the mAP

[code]

**Environment**

[code]

[2021-09-27 16:44] Lin-UH commented on #6162
Hi Have you find solution for this error? I am facing the same problem, using  coco format dataset to train maskrcnn

[2021-09-27 20:37] PeterVennerstrom commented on #6174
Looks like the p31 input to F.interpolate() is not a Tensor.

[2021-09-27 21:44] neel04 commented on #1247
@karlind @hellock for using weights for both backbone and full model, do we specify `load_from`; as well as `pre-trained` for the backbone?

[2021-09-28 00:39] AGanPoi commented on #6169
It seem that the distributed train in muti-GPU have error and could not stop directly
![QQ图片20210928083816](https://user-images.githubusercontent.com/35792267/135003740-8b9b6225-82e3-4b21-8b81-d4aa019deaf0.png)

[2021-09-28 00:51] PeterVennerstrom commented on #6175
The logs show losses during the training phase of an epoch and mAP is calculated on the validation set at some interval, e.g. after every epoch.

[2021-09-28 02:01] yoonj1n opened #6178 "I want to know "Is MASK R-CNN used Sigmoid or Softmax and about mAP""
Hi, I used mmdetection to make mask r-cnn model

question 1)
i just want to know Mask R-CNN use or not Sigmoid or Softmax and if we use, where is the code or something that i can know that?

question 2)
where is the code that calculate validation mAP?

Thanks

[2021-09-28 02:06] PeterVennerstrom commented on #6174
The [F.interpolate() function](https://pytorch.org/docs/stable/generated/torch.nn.functional.interpolate.html#torch.nn.functional.interpolate) takes a Tensor as input.

It appears as though you are trying to operate on a non-tensor object directly using F.interpolate().  It needs to be converted to a Tensor or it should return a Tensor and be called first.

[2021-09-28 02:21] ZwwWayne commented on #5921
Solved in https://github.com/open-mmlab/mmdetection/pull/5747

[2021-09-28 02:21] #5921 closed

[2021-09-28 02:22] ZwwWayne commented on #5396
Solved in https://github.com/open-mmlab/mmdetection/pull/5479

[2021-09-28 02:22] #5396 closed

[2021-09-28 02:41] heethesh commented on #3751
had the same issue mmdetection3d, you might to document this in the tutorial

[2021-09-28 02:43] #6013 closed

[2021-09-28 02:52] jshilong commented on #6170
The interface of `ATSSAssigner ` is different from `MaxIoUAssigner`, we will try to improve it.
We try to design a more general interface of assigner but we find it is quite an algorithm related component, which makes it very difficult

[2021-09-28 02:59] jshilong commented on #6171
@RangiLyu Would you mind taking a look at this issue?

[2021-09-28 03:19] jshilong commented on #6169
Which algorithm did you use and Is there any modification in the code?
- Usually, this is because you write some operations that need to synchronize between different ranks but some ranks can not reach the corresponding code line.
- Another case is in your forward process, not all parameters participate in generating the loss, which makes some parameters do not have grad after loss.backward() whic

[2021-09-28 03:28] qdd1234 opened #6179 "YOLOX for VOC"
您好，之后可否提供一下YOLOX在VOC数据集上训练的config，谢谢

[2021-09-28 03:31] #6136 closed

[2021-09-28 03:41] jshilong commented on #6093
Feel free to reopen the issue if there is any question

[2021-09-28 03:41] #6093 closed

[2021-09-28 03:53] Senwang98 commented on #6171
I provide my code of kmeans:

[code]

[2021-09-28 05:37] as754770178 opened #6180 "YOLOX显存"

[2021-09-28 07:01] lji72 commented on #6170
ok，thanks, wait for your modification.

[2021-09-28 07:14] RangiLyu commented on #6171
It depends on how you resize the image during training. If not keep the ratio, the boxes should be normalized by both width and height.

[2021-09-28 07:19] CheungBH opened #6181 "Modification on training"
Hello. I want to use your code to conduct distillation, which needs co-training of two models during training. However, I found the code is hard to modify because the whole training steps are embedded in a single line "runner.run(data_loaders, cfg.workflow)".

I wonder are there any APIs for users to modify the training process? For example, training two models simultaneously, while the A model us

[2021-09-28 07:20] Senwang98 commented on #6171
@RangiLyu
Okay, I will check it and thanks for your reply!

[2021-09-28 07:20] #6171 closed

[2021-09-28 07:24] eliabruni commented on #5383
Hello @Dorozhko-Anton , how did you manage to compile mmcv-full on Jetson? How did you set `TENSORRT_DIR`, following up [here](https://mmcv.readthedocs.io/en/latest/deployment/tensorrt_plugin.html#how-to-build-tensorrt-plugins-in-mmcv)?

Cheers!

[2021-09-28 07:34] del-zhenwu opened #6182 "[docs] Verifiable demo after installing with pip"
**Describe the feature**

**Motivation**
I found the verifiable script here:  https://github.com/open-mmlab/mmdetection/blob/master/docs/get_started.md#verification, but it can not work if the code base is installed with pip, so another verifiable script is needed

**Related resources**
If there is an official code release or third-party implementations, please also provide the information here, w

[2021-09-28 07:39] del-zhenwu commented on #6182
Also, there are some warnings displayed, this script may need to be updated.
[code]

[2021-09-28 07:45] ckq1234 opened #6183 "How to use the transformed model for forward reasoning"
now, mmdetection can transformed yolo v3 to onnx model ,but how to detect images by onnx?

[2021-09-28 08:34] cauivy commented on #1324
Use "pip install -v -e ." solved my problem! Thank you!!!

[2021-09-28 08:54] rainylt commented on #6056
想请教下是如何修改的啊？这一行和transformers.py里的那一行毫无区别啊

[2021-09-28 08:57] rnlee1998 opened #6185 "how can I get the x,y,w,h and class when inference?"
I run the following codes:
[code]
i got
[code]
but i want to got the x,y,w,h,class

[2021-09-28 08:58] ypwhs commented on #1563
Just install mmcv-full and mmdet, and run demo.

## Environment

<img width="682" alt="截屏2021-09-28 16 27 01" src="https://user-images.githubusercontent.com/10473170/135055556-ef54d7ba-ba92-4e23-89b2-856f488e5bc3.png">

[code]

PyTorch for Jetson：https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-9-0-now-available/72048

## Prepare model

[code]

## Run Demo

[code]

Outputs:

[cod

[2021-09-28 09:14] AGanPoi commented on #6169
I just run the code of CVPR2021 paper “RefineMask：Towards High-Quality Instance Segmentation with Fine-Grained Features” and “Look Closer to Segment Better：Boundary Patch Refinement for Instance Segmentation”, they based on **_mmdetection_** and _**mmsegmentation**_, respectively. And they all come across this error. So I think is not the problem of code, maybe it's something wrong with my GPU and

[2021-09-28 10:14] HarborYuan opened #6186 "potential bug of swin init_weights"
Hi,

Thanks for your work on mmdet.

It seems that swin init_weights function may have unexpected behavior when the checkpoint is with old version.

https://github.com/open-mmlab/mmdetection/blob/master/mmdet/models/backbones/swin.py#L697

If in the checkpoint, the states are with backbone. prefix, the swin_converter will not do the right thing. At the same time, the swin_converter will add "backb

[2021-09-28 10:15] qq747688898 opened #6187 "使用pytorch作为launch方式时多节点分布式训练速度过慢"
使用单机多卡(P100*4)在COCO使用fcos_r50_caffe_fpn_gn-head_1x_coco.py进行训练时，batch time为0.37s，使用两台机器(均为P100*4)在相同配置下进行训练时，batch time为2.1s

[2021-09-28 12:09] FrancescoSaverioZuppichini opened #6188 "Impossible to correctly retrieve metrics and to extend the codebase"
Dear all,

I hope to find you well. The current codebase is totally closed and it is impossible to retrieve all the metrics computed. Allow *all* metrics to be returned inside `dataset.evaluate`. For instance, currently, we cannot get the `map` per class that is printed inside [`eval_map`](https://github.com/open-mmlab/mmdetection/blob/414c62cb12d1b0ebf6151a697a32b84adc269ca4/mmdet/core/evaluation

[2021-09-28 13:18] #6180 closed

[2021-09-28 13:50] Monkey-D-Luffy-star opened #6189 "CUDA out of memory when I use multi scale test."
When the input image size is 1100*1650 pixels, single scale test has no problem, accounting for about 9000M video memory, a GPU(11G) is enough.However, when I used multi Scale test (I set 3 scales [1700,800],[1700,1100],[1700,1400]), even though I used 3 Gpus, I still reported an error: CUDA out of memory, do you know why?Looking forward to your reply.

[2021-09-28 14:03] PeterVennerstrom commented on #6175
[Here are the docs](https://github.com/open-mmlab/mmdetection/blob/a616886bf1e8de325e6906b8c76b6a4924ef5520/docs/tutorials/customize_runtime.md) for runtime hooks.

[code]

The eval hook should be called every epoch by default unless the --no-validate argument is passed to train.py when starting training and interval=1 and metric="mAP" should be default settings in the code so neither need to be s

[2021-09-28 14:20] ZwwWayne commented on #6164
Could you be more specific? Sorry that we do not quite understand what do you want to do.

[2021-09-28 15:53] sudz123 opened #6191 "SimpleCopy Paste Augmentation Implementation"
**Simple Copy Paste is a data augmentation technique which is extremely useful for generating data for training and testing.**

**Motivation**
There is a recent paper https://arxiv.org/abs/2012.07177,  which is very helpful for improving scores in instance segmentation and classification.

**Related resources**
https://github.com/tensorflow/tpu/tree/master/models/official/detection/projects/copy_p

[2021-09-28 17:17] gf0507033 opened #6192 "Strange handling of BG class in `BBoxHead`"
I can't figure out the following code in `BBoxHead`. According to [`regress_by_class`](https://github.com/open-mmlab/mmdetection/blob/master/mmdet/models/roi_heads/bbox_heads/bbox_head.py#L481-L483):
[code]
As per [docs](https://github.com/open-mmlab/mmdetection/blob/master/mmdet/models/roi_heads/bbox_heads/bbox_head.py#L388), width of `bbox_pred` is `4 * num_classes`

According to [these lines]()

[2021-09-28 21:49] PeterVennerstrom commented on #6181
There is [code](https://github.com/open-mmlab/mmdetection/blob/d64e719172335fa3d7a757a2a3636bd19e9efb62/mmdet/models/detectors/kd_one_stage.py#L12) supporting a similar process for the [Localization Distillation for Object Detection](https://github.com/open-mmlab/mmdetection/tree/master/configs/ld) paper.

They use a fully trained teacher model to generate the targets for the student, rather than

[2021-09-29 02:29] sunwell1994 opened #6193 "Increasing Memory usage during demo"
I test the basic inference on the video using faster-rcnn model. I try to store the generated frames. However, I find the memory of system keeps increasing and finally it causes the program to be killed due to OOM. Does the inference cache up a lot of unnecessary data? How to avoid caching?

[2021-09-29 07:41] leedoge commented on #5582
hello! have you solve this problem?

[2021-09-29 08:47] zhanghang-cv opened #6196 "mmdet 支持没有label的图片输入吗，如果支持如何操作"

[2021-09-29 09:27] github-eliviate commented on #4687
yes,I have 3 category in coco['categories'],but only have 2 category in data

[2021-09-29 09:40] LeoCho1learning opened #6197 "where should auto_fp16() be added?"
I found that auto_fp16() was added at detectors/base.py and some necks and was not be added at backbones and heads. so i'm confused about where i should put  auto_fp16().

thank you

[2021-09-29 09:44] AndreaPi commented on #6134
@ZwwWayne @jshilong hi! So, would you find useful if I created a PR with a `MODEL_ZOO.md`, similar to what is done in Detectron2?

[2021-09-29 09:58] hhaAndroid commented on #6188
@FrancescoSaverioZuppichini Thank you for your sincere suggestions. We have recently noticed this problem and are  redesigning the evaluation process.  If you have good suggestions, welcome to discuss together.

[2021-09-29 09:59] AndreaPi commented on #6134
Perfect 😁  just forked the current master, will let you know once I'm done!

[2021-09-29 10:02] #6170 closed

[2021-09-29 11:01] hhaAndroid commented on #6185
@rnlee1998 There seems to be a problem with the model weight because the output shapes are all 0.

[2021-09-29 11:06] hhaAndroid commented on #6183
@ckq1234 Sorry, we do not provide script support testing for the time being, but you can achieve it through https://github.com/open-mmlab/mmdetection/blob/master/mmdet/core/export/model_wrappers.py#L96

[2021-09-29 11:06] hhaAndroid commented on #6179
@qdd1234 OK

[2021-09-29 11:08] rnlee1998 commented on #6185
how should I do if I want to get x,y,w,h and class when I detect a picture

[2021-09-29 11:10] hhaAndroid commented on #6178
@yoonj1n

1. use sigmoid in RPN box head, use softmax in RoI box head. All in https://github.com/open-mmlab/mmdetection/blob/master/configs/_base_/models/mask_rcnn_r50_fpn.py
2. https://github.com/open-mmlab/mmdetection/blob/master/mmdet/datasets/coco.py#L362

[2021-09-29 11:15] hhaAndroid commented on #6185
[code]

[2021-09-29 11:16] hhaAndroid commented on #6175
Yes

[2021-09-29 11:26] hhaAndroid commented on #6186
@HarborYuan Thank you for your attention, the currently loaded third-party pre-training weights are the specified version. The problem you mentioned is really not robust enough. It can be improved, and community PR is very welcome.

[2021-09-29 11:30] hhaAndroid commented on #6197
@LeoCho1learning The user does not need to add this decorator anywhere because it has already been added in the base class. The presence of this decorator in the neck should be a historical issue, it is actually not needed. you can find in this https://github.com/open-mmlab/mmdetection/blob/master/mmdet/models/detectors/base.py#L156

[2021-09-29 11:32] hhaAndroid commented on #6196
Only set filter_empty_gt=False:

[code]

[2021-09-29 11:35] hhaAndroid commented on #6191
@sudz123 thank you very much. If you have any questions, please feel free to contact us.

[2021-09-29 11:39] #6179 closed

[2021-09-29 13:07] jeannotes commented on #6160
@BIGWangYuDong sorry，I didn't find any references or any solutions

[2021-09-29 15:38] dimimal commented on #5040
Hello, can you point me to a direction and try to implement the CPU version by myself?

[2021-09-30 02:53] aa1234241 opened #6198 "redundant code in mmdet/models/builder.py"
Hi,
When I read the source code, I found in  mmdet/models/builder.py
`MODELS = Registry('models', parent=MMCV_MODELS)

BACKBONES = MODELS
NECKS = MODELS
ROI_EXTRACTORS = MODELS
SHARED_HEADS = MODELS
HEADS = MODELS
LOSSES = MODELS
DETECTORS = MODELS`

I'm a little confused since all these names map to the same MODELS, why do you need to map the same thing with different names. Many thanks.

[2021-09-30 03:19] AronLin commented on #6189
Maybe you can try to reduce the batch size (`imgs_per_gpu`), [1700,1100],[1700,1400] is obviously greater than 1100*1650. And the number of GPUs has nothing to do with this because `imgs_per_gpu` has not changed.

[2021-09-30 04:04] AronLin commented on #6193
That means you put them into the memory during storing the frames.
You can store them on the disk directly to avoid this problem.

[2021-09-30 04:55] hhaAndroid commented on #6198
@aa1234241 Because we have to distinguish between different model components.

[2021-09-30 04:56] #6175 closed

[2021-09-30 04:57] AronLin commented on #6192
The positive labels are from `0` to `num_classes-1`. So the max value of `label` will be `4*num_classes-1`

[2021-09-30 05:03] aa1234241 commented on #6198
yeah, I know that, but this code means that all components are registered to the same Registry. So the BACKBONES, NECKS, etc. All components will be registered to the MODELS, not separate Registry.

[2021-09-30 05:06] hhaAndroid commented on #6198
@aa1234241 Yes. This is set from the uniform rules of all open source libraries of OpenMMLab. This is reasonable.

[2021-09-30 05:14] gf0507033 commented on #6192
@AronLin once again:
- `labels` is filled by `num_classes` value
- some (not all) first positions of `labels` are replaced by another values
- max value in `inds = torch.stack((4 * label, 4 * label + 1, 4 * label + 2, 4 * label + 3), 1)` is `num_classes + 1`

Any model with `reg_class_agnostic=False` in `BBoxHead` is broken now. Any models in mmdetection's model zoo uses  `reg_class_agnostic=True`

[2021-09-30 06:49] zhanghang-cv commented on #6196
那设置了filter_empty_gt=False后coco标注文件的"annotations"如何设置呢

[2021-09-30 06:53] zhanghang-cv commented on #6196
如果设置成
![image](https://user-images.githubusercontent.com/68639705/135402137-c42639f7-b25a-40f4-b88b-2fdd5ec72167.png)
会报错
![image](https://user-images.githubusercontent.com/68639705/135402193-ef8d0e7c-1f9b-409f-afc1-82cf74e6249b.png)

[2021-09-30 06:57] zhanghang-cv commented on #6196
想加入的是没有任何目标的图片进行训练（没有bbox也没有cat）

[2021-09-30 07:01] AronLin commented on #6196
You need to write your own dataset to support this function.
Our CocoDataset supports inference without annotations, but does not support training without annotations.

[2021-09-30 07:04] AronLin commented on #6192
When we set the BG to the label, we have not used the function `regress_by_class`.
So if you want to use this function, please ensure that the background label is filtered.
like:
![image](https://user-images.githubusercontent.com/29054582/135403654-4bc4cc00-df21-44ba-8089-67b0a7af57f6.png)

[2021-09-30 07:08] qdd1234 opened #6200 "For VOC"
您好，我在使用YOLOX 训练voc的时候发现YOLOX的数据增强是对COCO数据集格式有效，好像对VOC数据集格式无效，是这样吗？

[2021-09-30 07:37] LeoCho1learning commented on #6197
Thanks for your reply. i also want to know where i should add (self.fp16_enabled = False). I found it at base.py ,some head and some neck. does neck need this line or not?

[2021-09-30 07:49] ZwwWayne commented on #6071
For now, we do not have enough information to help with debugging. So this PR is closed.

[2021-09-30 07:49] #6071 closed

[2021-09-30 07:49] AronLin commented on #6197
Yes, you can also find it in `FPN`.

[2021-09-30 07:52] hhaAndroid commented on #6197
@LeoCho1learning `self.fp16_enabled = False` only needs to be added to the head, the rest is not needed.

[2021-09-30 07:52] FrancescoSaverioZuppichini commented on #1596
Same here, trying to train a model on two gpus without any success. I followed the doc but it is unclear to me witch launcher I should use, I set 'pytorch' but I got the above error

[2021-09-30 07:53] ZwwWayne commented on #6020
This reply already answers the question so this issue will be closed. For iteration-based training, we do not have time to try it yet but we will do it in the following months. Please @RaymondByc create a new issue to track your question. We may fix some potential bugs/differences if we reached a conclusion.

[2021-09-30 07:53] #6020 closed

[2021-09-30 07:54] RangiLyu commented on #6200
You can refer to #5997

[2021-09-30 07:55] #6073 closed

[2021-09-30 07:55] #6129 closed

[2021-09-30 07:56] #6198 closed

[2021-09-30 08:01] RangiLyu commented on #6150
Yes. 0.05 score threshold is to filter too many negative samples to speed up evaluation. All boxes with score above the threshold are used during the mAP calculation.

[2021-09-30 08:01] #6150 closed

[2021-09-30 08:01] hhaAndroid commented on #6196
@zhanghang-cv You can set `'bbox': [0,0,0,0]`.

[2021-09-30 08:03] zhanghang-cv commented on #6196
那类别设置成什么呢，'bbox': [0,0,0,0]会不会影响loss计算

[2021-09-30 08:04] hhaAndroid commented on #5934
Will be released after National Day.

[2021-09-30 08:05] hhaAndroid commented on #5934
I don’t know if there is a need for this. If you think it’s necessary, we can provide a conversion script.

[2021-09-30 08:05] #1456 closed

[2021-09-30 08:06] RangiLyu commented on #6068
When inference with a single image, the result is an array of bboxes or a tuple of bboxes and masks, and the first dim is label index. If inference with a batch of images, it will return the same length list of results.

[2021-09-30 08:06] #6068 closed

[2021-09-30 08:06] #5474 closed

[2021-09-30 08:06] #5279 closed

[2021-09-30 08:06] #5622 closed

[2021-09-30 08:07] hhaAndroid commented on #5993
We will release all YOLOX models and weights recently, you can check the training time through log.

[2021-09-30 08:08] #6142 closed

[2021-09-30 08:10] #6200 closed

[2021-09-30 08:10] jshilong commented on #6169
Are you sure all settings in the two devices identical?

[2021-09-30 08:11] RangiLyu commented on #6157
The onnxruntime version is determined by your mmcv version. With the latest mmcv, you should install onnxruntime>=1.8.1. But if you are using old version of pytorch and cuda, I'm afraid that you need to use old version of mmcv which support lower version of onnxruntime.

[2021-09-30 08:11] jshilong commented on #6078
Feel free to reopen the issue if there is any question

[2021-09-30 08:11] #6078 closed

[2021-09-30 08:12] RangiLyu commented on #6157
@RunningLeon Please take a look at this issue.

[2021-09-30 08:13] FrancescoSaverioZuppichini commented on #6188
@hhaAndroid thank you for you reply. Sure! What about moving this issue to the discussion tab?

[2021-09-30 08:13] hhaAndroid commented on #5307
@kevins99 Did you solve this problem？

[2021-09-30 08:14] hhaAndroid commented on #5305
@zhengjie6 You can refer to https://github.com/open-mmlab/mmdetection/blob/master/docs/useful_tools.md#fps-benchmark

[2021-09-30 08:15] #5207 closed

[2021-09-30 08:15] #5175 closed

[2021-09-30 08:16] ZwwWayne commented on #6191
Hi @sudz123 ,
PRs are definitely welcomed! We will also organize the PR review as soon as the PRs are created.
To make the progress more smooth, it is also preferred if you could briefly describe your plan, e.g., the module you want to add and the related potential modification. You can also describe that following the PR template when creating the PR.

[2021-09-30 08:17] #5160 closed

[2021-09-30 08:18] ZwwWayne commented on #6187
This might caused by the communication issue in the machine. FCOS needs to synchronize the number of positive samples during training, which might slow down the speed when using two machines. You can profile it first.

[2021-09-30 08:18] jshilong commented on #6074
These indexes may follow the original implementation of SSD which has no confluence to the performance

[2021-09-30 08:18] #6074 closed

[2021-09-30 08:18] ZwwWayne commented on #6160
You need to also increase the learning rate linearly to match the bigger batch size.

[2021-09-30 08:18] hhaAndroid commented on #5120
@noobying The focal loss uses a sigmoid operation, which is calculated channel by channel, so only 80 is required.

[2021-09-30 08:18] jshilong commented on #6074
Feel free to reopen the issue if there is any question

[2021-09-30 08:21] ZwwWayne commented on #6166
Hi @AIZOOTech ,
Could you also give more details about the version of onnx, onnxruntime, and TensorRT?

Also, include @RunningLeon to take a look.

[2021-09-30 08:22] #6153 closed

[2021-09-30 08:24] ZwwWayne commented on #5889
You can try to use the GPU0 for inference. We may support with_cp in the future.

[2021-09-30 08:26] ZwwWayne commented on #5633
You need to implement a new head or model and extend the init arguments of the modules. The key and values in the config are the same as those in the __init__ function.

[2021-09-30 08:26] #5633 closed

[2021-09-30 08:28] AronLin commented on #6148
`det_bboxes[:, -1]` is the scores.
The confidence score is often used to sort the `TP bboxes` to calculate P-R curve.
When evaluating `mAP`, scores may be used to find top-k `bboxes` to calculate `mAP`. The most common is to take top-100, but there may also be a need to take top-10 or top-50.

[2021-09-30 08:30] hedes1992 commented on #188
The GPU curve is plotted in cluster's control board, the name is 'Grafana'.
In fact, I can also see the CPU curve etc.
But I have leaved from the company, and forget detailed information about this 'Grafana'...

[2021-09-30 08:52] AGanPoi commented on #6169
If the environmental settings in mmcv and mmdet, or such as python version and pytorch version, that is the same beacuse I just copy the environmental settings. I found that is the problem of my GPU Tesla V100, the model can't be train on GPU id 0 and 1 simultaneously.
Thank you for your reply and now my code is run well in other id of GPU device. I will refer to the Nvidia and NCLL to see how to

[2021-09-30 08:54] #6169 closed

[2021-09-30 09:25] FrancescoSaverioZuppichini commented on #2904
Hi guys. @hhaAndroid  I have the same problem, custom dataset, using both ` torch.distributed.run` and `torch.distributed.launch` to lunch my training but it doesn't start. No error

[2021-09-30 09:28] FrancescoSaverioZuppichini commented on #2904
One thing I notice is the host setted to (in my case) `zuppif@blackbird`, `zuppif` is my user, `blackbird` is the machine name but probably it should be set to `127.0.0.1`. I also tried to export the address env but the host is still the same. Maybe this helps

[2021-09-30 09:55] noobying commented on #5120
thanks

[2021-09-30 09:55] #5120 closed

[2021-09-30 10:03] noobying opened #6201 "died with <Signals.SIGSEGV: 11>."
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.
I ru

[2021-09-30 10:13] apanand14 commented on #5974
Thank you for your response. I have sucessfully resolved the issue.

[2021-09-30 10:13] #5974 closed

[2021-09-30 10:19] #6000 closed

[2021-09-30 10:27] AndreaPi commented on #6134
Hi all, I have a small problem: I checked the [`CONTRIBUTING` guidelines](https://github.com/open-mmlab/mmcv/blob/master/CONTRIBUTING.md) and I'm not really onboard with installing stuff outside of Python (such as e.g. Ruby), since that would most likely require using `brew` and for a variety of reasons I don't use it. Also, I'm not too familiar with pre-commit hooks...in the end, I'm only contrib

[2021-09-30 11:15] joihn opened #6202 "Object detection + Keypoint regression, MMDetection VS MMPose vs Detectron2"
The project I'm working on involve object detection and single keypoint detection (onto the object).
I have difficulties picking the best framework:
- **MMDetection** model zoo seems very vast with SOTA, but does not offer keypoint detection it seems.
- **MMPose** seems to does keypoint regression, but only for human, and the outputed BoundingBox (important for me) might not be accurate since the

[2021-09-30 11:41] FrancescoSaverioZuppichini commented on #2062
Same problem, early stopping is a **must** when finetuning a model. I've tried to think how to implement it in mmdetection but it is so hard to extend the system and fetch the metric that it may be impossible without some heavy hacks

[2021-09-30 12:31] FrancescoSaverioZuppichini opened #6203 "Cannot find the eval results in runner.log_buffer.output"
Hi guys,

I hope you are doing great. I am trying to get the `eval_results` from my custom hook but even if they are set (https://github.com/open-mmlab/mmcv/blob/8cac7c25ee5bc199d6e4059297ef2fa92d9c069c/mmcv/runner/hooks/evaluation.py#L327) in `runner.log_buffer.output` I am not able to find them. I have tried with any time of callbacks in the hooks APIs (after_iter, after_epoch, after_val_epoch,

[2021-09-30 12:52] twmht opened #6204 "how to run unitest?"
Hi,

I have tried `pytest tests`, but it threw unrecognized options with `--xdoctest` and other options defined in pytest.ini
any idea?

[2021-09-30 12:59] #6204 closed

[2021-09-30 13:37] noobying commented on #6201
I fix this by choose the correct mmcv-full version. I install the default version of `mmcv-full` before.

[2021-09-30 13:37] #6201 closed

[2021-09-30 15:02] Soodep commented on #6059
did you solve it?

[2021-09-30 15:13] deepsea12 commented on #6105
I set the score_thr  to 0.15, does that mean all the boxes with sore above 0.15 only are used during the mAP calculation. If so is this result justified?
![image](https://user-images.githubusercontent.com/9031472/135482529-b48f3a7b-6c31-4411-9b1c-58d76abb97ef.png)

[2021-09-30 15:19] deepsea12 commented on #6150
I set the score_thr  to 0.15, does that mean all the boxes with sore above 0.15 only are used during the mAP calculation. If so is this result justified?
![image](https://user-images.githubusercontent.com/9031472/135482529-b48f3a7b-6c31-4411-9b1c-58d76abb97ef.png)

[2021-09-30 16:12] ushakovegor opened #6206 "Test pipeline"
Hello,
I try make my own test pipeline. I use this:
`train_pipeline = [
    dict(type='LoadImageFromFile'),
    dict(type='LoadAnnotations', with_bbox=True),
    dict(type='Normalize', **img_norm_cfg),
    dict(type='Pad', size_divisor=32),
    dict(type='DefaultFormatBundle'),
    dict(type='Collect', keys=['img', 'gt_bboxes', 'gt_labels']),
]`
But i have this this error:
`Traceback (most recent

[2021-09-30 16:49] tianrking opened #6207 "undefined symbol: _ZN5torch3jit6tracer9addInputsEPNS0_4NodeEPKcRKN3c1013TensorOptionsE"
Ubuntu20

I only have GTX1050Ti onmy old computer ,however I setup Nvidia driver 460 which CUDA version is 11.2
So, I conda install pytorch torchvision torchaudio cudatoolkit=11.2 -c pytorch -c conda-forge  BUT it cannot work well.
PLZ help me.

    return _bootstrap._gcd_import(name[level:], package, level)
ImportError: /home/w0x7ce/anaconda3/envs/mmcv/lib/python3.7/site-packages/mmcv/_ext.cpytho

[2021-09-30 23:42] CharlesNJ commented on #4897
Is there any update on that checking which are repeating? I am facing the same issue after converting the YOLO format files to COCO. I have more than 11k `id`s and it doesn't make sense to check it manually. @daavoo @hhaAndroid hhAndroid

[2021-10-01 01:16] CharlesNJ commented on #4897
Also, is there a library that you recommend using for converting YOLO to COCO? I am assuming it has to do something with it even though I did not find any.

[2021-10-01 02:27] junhuplim commented on #6148
Got it, thanks for your help!

[2021-10-01 03:07] hyunjung0208 opened #6208 "caffe2_detectron_ops_gpu.dll" or its dependecies."
I made a program using a model created and trained using mmdetection as a pinstaller.
There have been many trials and errors, but they have succeeded in running the program.
I tried to put this program on usb and try it on another PC, but the following error came out.

OSError: [WinError 126] The specified module could not be found. Error loading "C:\Users\hp\Desktop\dist\histolAI(file name)\torch

[2021-10-01 04:46] dev-sungman opened #6209 "Why ATSS need different GPU memory according to dataset?"
Hi,

I found a strange point that ATSS needs different GPU memory according to the dataset.
i.e. if I trained with the A dataset, the consumption of GPU is 17GB.
However, if I trained with the B dataset, the consumption of GPU is changed to 13GB.
Is it a normal case? is this caused by the ATSS head assigner?

![image](https://user-images.githubusercontent.com/36710497/135566530-3a349f60-2ef9-453c-

[2021-10-01 07:16] jshilong commented on #6134
Thanks for your contribution. We can help you to format the markdown after you create the PR

[2021-10-01 07:36] realeve commented on #2931
Cross-Covariance Image Transformer

https://github.com/facebookresearch/xcit

[2021-10-01 07:37] Keyslime opened #6210 "How to set the weight decay decrease by per number of epoch?"
I want to have an optimizer of SGD with an initial learning rate of 0.001, and the learning rate is dropped by a factor of 10 every 10 epochs in my RetinaNet Model, but I am not quite sure where can it be configured in the config where every 10 epoch it drops by a factor of 10.  Currently, I have this.
`optimizer= dict(type='SGD', lr=0.001, momentum=0.9, weight_decay=0.0001)`

Do I change the weig

[2021-10-01 08:34] AndreaPi commented on #6206
Hi, it's a bit complicated to read your code without proper formatting, but it looks like you defined your own _train_ pipeline, not the test pipeline, since you used the `train_pipeline` keyword:

[code]

What would you like to customize, the train pipeline or the test pipeline? Disclaimer: I'm not one of the developers.

[2021-10-01 08:50] ushakovegor commented on #6206
Sorry about my formatting. I forgot to change its name. I try to change the test pipeline.

[2021-10-01 09:54] AndreaPi commented on #6210
Hi,

disclaimer: not one of the developers (just a very happy user 😊 ). What you're describing is not weight decay (which is a form or regularization which adds a penalty term to the loss in order to encourage the model to select smaller or sparser weights, depending on whether you use L1 or L2 weight decay). You're talking about _learning rate decay_ (also called _learning rate annealing_, or _le

[2021-10-01 09:58] AndreaPi commented on #6206
Ok, so, assuming that you defined `img_norm_cfg` correctly before in the config file, I'd try to do this:

[code]

I'd also suggest that you include your whole config file, to get better support.

[2021-10-01 10:06] AndreaPi opened #6211 "The link to the config documentation in TUTORIAL 5: CUSTOMIZE RUNTIME SETTINGS is broken"
**Describe the bug**
Navigate to

https://mmdetection.readthedocs.io/en/latest/tutorials/customize_runtime.html

search and click the link [config documenetation](https://mmdetection.readthedocs.io/en/latest/config.html)` (the typo is not mine, it's in the docs). As you can see, the link is broken.

[2021-10-01 10:25] AndreaPi opened #6212 "How to get the precision-recall curves on val and test set for each class, for a custom dataset of type COCODataset"
Hi,

I have a custom dataset of type `COCODataset`, and I trained a few Mask R-CNN and Cascade Mask R-CNN models on it. For each model I would like to compute the precision-recall curves for each class on the validation and test set (even just the validation set would be ok, for a start). How can I do that? I searched the documentation but I couldn't find an answer. I had a look at this closed iss

[2021-10-01 10:29] ushakovegor commented on #6206
My config
[code]

Your test config is working. But i do not understand, why i can not use my version pipeline?

[2021-10-01 11:06] shwoo93 opened #6213 "Question on the dataset concatenation"
Hello,

I have several questions on the features of ConcatDataset.
It seems that the ConcatDataset basically enables to use different datasets as a whole.

1. If I want to construct a batch with images always come from different datasets, is it proper to use ConcatDataset?
2. Also, can we modulate the frequency of each dataset being selected in ConcatDataset? (Maybe setting different repeat time f

[2021-10-01 12:23] Keyslime commented on #6210
Sorry, I misspoke. But thanks for the tip! I will try to read more about it.

[2021-10-01 12:54] AndreaPi commented on #6210
BTW, if the answer worked for you, I think you can close the issue.

[2021-10-01 12:58] AndreaPi commented on #6206
I _think_ you can't because train data augmentation and test data augmentation are two very different things: one is a regularization on the weights, the other one is a sort of ensembling method. If you want to do test data aug correctly in MMDet, I think you need to use `MultiScaleFlipAug`. See also the doc on pipelines:

https://mmdetection.readthedocs.io/en/latest/tutorials/data_pipeline.html#t

[2021-10-01 14:46] Kaze-wind opened #6214 "AssertionError in 2nd training epoch, when using Mosaic augmentation"
After succeed in the yolox-s training, which is killed after 2 epochs.
I tried the Mosaic augmentation with MultiImageMixDataset like this:
[code]
The first epoch goes well, the loss drops, it works !
But sadly, at the beginning of 2nd epoch, I encountered one AssertionError.
[code]
I found #6155  with the same problem, but I found no solutions.
Are there anyone know how to fix this problem ? Is i

[2021-10-01 15:16] AndreaPi opened #6215 "How to disable empty GT filtering in a custom dataset of type COCODataset"
Hi,

I would like to train on all the images in my custom type `COCODataset` dataset. The dataset also includes images without labels, i.e., empty. Similarly, I would like to test on all the test set images, including the empty ones. By default, MMDetection filters out empty GT images. According to this PR, it should be possible to change this default

https://github.com/open-mmlab/mmdetection/pul

[2021-10-01 15:22] Kaze-wind commented on #6214
I found that the `MultiImageMixDataset` use the `CocoDataset` to load datasets for Mosaic / Mixup, which finally trace back to `CustomDataset`.
In the first epoch, the pipeline within the CustomDataset is `[dict(type='LoadImageFromFile', to_float32=True), dict(type='LoadAnnotations', with_bbox=True, with_mask=True)]` , it matches the config.
However in the second epoch, the pipeline becomes the tr

[2021-10-01 16:42] Kaze-wind commented on #6215
maybe you can use it like this:
[code]

[2021-10-01 18:47] AndreaPi commented on #6215
hmmm, seems to ignore it. Do you know how I can get the number of images being processed in each training epoch?

[2021-10-01 18:57] AndreaPi opened #6216 "How to get the number of images in the train, val and test set"
Hi,

related to this issue

https://github.com/open-mmlab/mmdetection/issues/6215

I'm trying to get the size of the train, validation, and test datasets, after MMDetection loads them. I think this script may help me:

https://github.com/open-mmlab/mmdetection/blob/master/tools/misc/browse_dataset.py

Can you help me modify it in order to get what I need? I just need to print the values to screen,

[2021-10-01 19:33] waterfall414 opened #6217 "General question on evaluation metric to choose"
First I would like appreciate the great work by the mmdetection developers. It's a wonderful tool for our work.

I have a custom medical image datasets formatted in COCO and now am using YOLOv3 to detect tissue type in each 2D image.
One real-world constraint is that each image has at most 1 instance of a tissue type. For example, there is only one carotid artery or none visible in each image.

Ob

[2021-10-01 20:38] CharlesNJ opened #6218 "AssertionError: The `num_classes` (80) in FCNMaskHead of MMDataParallel does not matches the length of `CLASSES` 3) in CocoDataset"
I have followed the procedure at https://mmdetection.readthedocs.io/en/latest/tutorials/customize_dataset.html for my custom model dataset. I encounter this problem, not sure where am I doing it wrong. Would somebody mind helping me, please?
Using, CBNetV2 architecture with cascade_mask_rcnn.

[2021-10-01 21:16] CharlesNJ commented on #6218
Figured it out. I left out inserting the `mask_head` in the config

[2021-10-01 21:16] #6218 closed

[2021-10-01 21:29] CharlesNJ commented on #1882
I got the same error _TypeError: 'NoneType' object is not subscriptable_ with different traceback.

`Traceback (most recent call last):
  File "tools/train.py", line 188, in <module>
    main()
  File "tools/train.py", line 177, in main
    train_detector(
  File "/home/wellchecked/cbn/CBNetV2/mmdet/apis/train.py", line 185, in train_detector
    runner.run(data_loaders, cfg.workflow)
  File "/hom

[2021-10-01 21:33] CharlesNJ commented on #1882
I got the same error with a different traceback. Any idea what's going on here?

`/mmdet/datasets/pipelines/loading.py", line 323, in <listcomp>
    [self._poly2mask(mask, h, w) for mask in gt_masks], h, w)`

`mmdet/datasets/pipelines/loading.py", line 281, in _poly2mask
    elif isinstance(mask_ann['counts'], list):
TypeError: 'NoneType' object is not subscriptable`

[2021-10-01 21:35] neel04 opened #6219 "[HELP] Model not able to train; overfitting and checkpoints not being loaded"
Hi, I have created a WandB report that is attached to the issue that outlines the exact model and loss logs of the model.
[WB_report.pdf](https://github.com/open-mmlab/mmdetection/files/7270223/WB_report.pdf)

The model I am using is [Swin transfomer](https://github.com/microsoft/Swin-Transformer) with Cascade RCNN. From what I deduce, it seems that one of my checkpoints is not being loaded.

1. I

[2021-10-02 00:02] Kaze-wind commented on #6215
The `samples_per_gpu` in the `data = dict(...)` config is the batch_size. Number in the log here `INFO - Epoch [1][250/438]` means `[present_iter/max_iter]`. So the number of train images should be `samples_per_gpu` x `max iter`.

The batch_size for valid / test seems to be 1, so the `max_iter` is the number.

[2021-10-02 01:28] AstroYuta commented on #6158
Well, I have managed to solve the problem. Thanks a lot, @BIGWangYuDong !!

[2021-10-02 03:01] lixiuyu-cumt commented on #5582
modify the code of function "imshow_det_bboxes"  "img[mask] = img[mask] * 0.5 + color_mask * 0.5" to "img[mask] = img[mask] * 0.5 + np.random.randint(0, 256, (1, 3), dtype=np.uint8)*0.5" ,you will get different color mask for different object

[2021-10-02 04:10] hasuoshenyun commented on #2931
It seems that there are not a good way to transform the .pth model to .pb model, this may be a major reason why the project is not used by more engineering practitioners at present. If there is a script, that could parse the parameters of .pth to the rewriten tensorflow parameters and save it as .pb, and further more the .tflite, it could be more attractive, it may make the project have more poten

[2021-10-02 08:25] FDInSky opened #6220 "CenterNet2有复现计划吗？"
https://github.com/xingyizhou/CenterNet2

[2021-10-02 08:32] sudz123 commented on #6191
Hi @ZwwWayne Can you point out where we can find the PR template?

To summarise the plan:

1. We will add one new Class to ```mmdet.datasets.pipelines.transforms``` called ```SimpleCopyPaste```. The code will exactly match the [official implementation](https://github.com/tensorflow/tpu/tree/master/models/official/detection/projects/copy_paste).
2. This class will take in two images at random and h

[2021-10-02 12:51] zkungithub opened #6221 "FileNotFoundError: [Errno 2] No such file or directory: '/tmp/tmpmo5dhu0b/tmpysztf6e9.py'"
Traceback (most recent call last):
  File "tools/train.py", line 161, in <module>
    main()
  File "tools/train.py", line 68, in main
    cfg = Config.fromfile(args.config)
  File "/opt/conda/lib/python3.7/site-packages/mmcv/utils/config.py", line 165, in fromfile
    cfg_dict, cfg_text = Config._file2dict(filename)
  File "/opt/conda/lib/python3.7/site-packages/mmcv/utils/config.py", line 125, i

[2021-10-02 14:11] PeterVennerstrom commented on #6209
Single stage methods like ATSS that densely predict classes will require noticeably more GPU memory as the number of classes increase.

[2021-10-02 15:32] Jack-Hu-2001 opened #6222 "Using pretrained weight for custom model"
I need to use the pretrained.pth for my next stage training. I wonna use not only the weight in backbone but also the neck and head. what can I do?
Thanks a lot for your help!!!

[2021-10-02 15:40] Jack-Hu-2001 commented on #6222
It's very late, please reply when you're available. No need to hurry.

[2021-10-02 15:55] AndreaPi commented on #6215
First of all, thanks for the support. Here's the relevant part of my config file:

[code]

`samples_per_gpu` is equal to 4, and I have 1 GPU (as confirmed by `torch.cuda.device_count()`) ⇒ `batch_size = samples_per_gpu*num_gpus = 4`. Now, from my log:

`2021-10-02 15:31:22,460 - mmdet - INFO - Epoch [1][50/283]`

(note that there's no `Epoch(val)` qualifier, so this is a legit train epoch, not a v

[2021-10-02 16:38] AndreaPi commented on #6215
BTW, here's another proof that MMDetection is still filtering empty images. I wrote a script to see how many images are in the train, val, test set which MMDetection builds:

[code]

The output is:

[code]

So clearly the train dataset being loaded by MMDetection has only 1129 images, while it should have 1208!

[2021-10-02 16:46] AndreaPi commented on #6216
This seems to work fine:

[code]

All the `print` statements could be substituted by `len` statements, and this would still work. Do you think it's a fine solution, or is there a better method using MMCV & MMDetection?

[2021-10-02 23:37] Kaze-wind commented on #6215
Try this config ? At least it works for me.
The `filter_empty_gt` outside the `train/val` seems invalid. So as `type`...
[code]

[2021-10-03 00:40] neel04 commented on #6219
Also, #250 is unsolved as well
[code]
Any ideas would be very, very much appreciated!

[2021-10-03 00:43] neel04 commented on #6222
yea, also is there a way to use pre-trained checkpoints of detector as well? I don't think I am getting **both** loaded, though the logs clearly show that one's being loaded atleast

[2021-10-03 00:50] neosis opened #6223 "RuntimeError: Input type (torch.cuda.ByteTensor) and weight type (torch.cuda.FloatTensor) should be the same"
Hi

I am trying to train - cascade_mask_rcnn_hrnetv2p_w32_20e_coco with custom dataset using tools/train.py.

`python ../mmdetection/tools/train.py ./model/cascade_mask_rcnn_hrnetv2p_w32_20e_coco.py`

I am getting following error -

[code]

Will you be able help or provide some pointers on what could be amiss?

Best
Ashutosh

[2021-10-03 03:36] neosis commented on #6223
Solved by using to_float32

[2021-10-03 03:36] #6223 closed

[2021-10-03 03:58] BIGWangYuDong commented on #6207
Hi,
I remember that `mmcv` does not support CUDA11.2 yet?
It's seems that your PyTorch, CUDA and mmcv is not matched. it is suggested to re-build an environment under CUDA 11.1, torch 1.9 and you can install mmcv-full by `pip install mmcv-full -f https://download.openmmlab.com/mmcv/dist/cu111/torch1.9.0/index.html`

[2021-10-03 04:05] BIGWangYuDong commented on #6208
Firstly, Windows is in experimental support, it is suggested to run your code under Linux or macOS
Then, I did not get your point, Did you mean that you want to copy your code to another PC and re-run your code? It is suggested to re-install an environment.

[2021-10-03 04:07] BIGWangYuDong commented on #6211
Hi, thanks for your suggestion. You can create a Pull Request to fix this error

[2021-10-03 04:14] BIGWangYuDong commented on #6212
https://mmdetection.readthedocs.io/en/latest/useful_tools.html#error-analysis
Hi, You can refer to this doc.

[2021-10-03 10:46] yoonj1n opened #6224 "Is any other code to calculate mask’s mAP and mAR?"
hi, i saw some code about calculating mAP and mAR in mmdet.evaluate but, i dont know that we use the same code to calculate mask and bbox mAP and mAR or not using MASK R CNN
is used same code ? or we have any other code for mask? thanks

[2021-10-03 10:54] neel04 commented on #6221
In my experience, just run the snippet again - for some reason it fixes it 🤷

[2021-10-03 13:25] AndreaPi commented on #6211
@BIGWangYuDong I'll gladly do so! Just to be sure, this is the correct link, isn't it?

https://mmdetection.readthedocs.io/en/latest/tutorials/config.html

[2021-10-03 16:32] deepsea12 opened #6225 "Is score_thr a determining factor while calculating mAP?"
I set the score_thr to 0.15, does that mean all the boxes with sore above 0.15 only are used during the mAP calculation. If so is this result justified?
![image](https://user-images.githubusercontent.com/90724607/135763060-e3e31c36-1933-4d0d-b8ac-1f3ac9e14668.png)

[2021-10-03 18:32] AndreaPi commented on #6215
Works perfectly! Thank you @Kaze-wind . Closing issue now!

[2021-10-03 18:32] #6215 closed

[2021-10-03 21:53] neel04 commented on #5734
@jshilong I still have the same error - using master branch. It seems that when I try to use MaskRCNN as backbone this errors occurs :(

[2021-10-03 22:08] neel04 commented on #1151
@hellock is it normal for so many layers to not match?
[code]

[2021-10-04 03:14] deepsea12 opened #6226 "is there anyway to visualize mAP through DetVisGUI?"
I am using some test images to see results for faster_rcnn using DetVisGUI (https://github.com/Chien-Hung/DetVisGUI ). I am able to visualize the results as shown in the figure. In addition to this i also want to see the eval mAP like we usually see when evaluating the model. I would really appreciate your help.
![image](https://user-images.githubusercontent.com/90724607/135787503-5c9771e1-8aaf-4e

[2021-10-04 07:00] twmht opened #6227 "RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
Here are my env info

[code]

when running fcos test, by

[code]

it would give

[code]

by setting cudnn.benchmark to false and cudnn.deterministic to true, the error would be gone.

any idea?

[2021-10-04 09:07] AGanPoi opened #6228 "How to change the color of segmentation results of different instances"
I find the mmdet/models/detectors/base.py that can change the color of bbox and text, but the segm results of the same category with different instances draw with the same color. I wonder how to change this color settings.
![QQ图片20211004170706](https://user-images.githubusercontent.com/35792267/135824231-b5f29209-bdd4-4c7a-8c6c-ba3da0e56562.png)

[2021-10-04 09:08] Jack-Hu-2001 commented on #6222
If I ue resume from, mmdetection will simply use the config file stored in the pth file, not the one I need for the next stage, which confused me.

[2021-10-04 10:11] mathshangw opened #6229 "ImportError: libcudart.so.10.2: cannot open shared object file: No such file or directory"
I got this error

        from mmdet.apis import multi_gpu_test, single_gpu_test
      File "/mmdetection/mmdet/apis/__init__.py", line 1, in <module>
        from .inference import (async_inference_detector, inference_detector,
      File "/mmdetection/mmdet/apis/inference.py", line 6, in <module>
        from mmcv.ops import RoIPool
      File "/home/.local/lib/python3.6/site-packages/mmcv/ops/_

[2021-10-04 16:38] Alvin0629 opened #6230 "Confused on image file loading"
Hi,

It seems the image jpg files should be loaded by mmdetection/mmdet/datasets/pipelines/loading.py.
But even I delete 'class LoadImageFromFile' and 'class LoadImageFromWebcam(LoadImageFromFile)' in loading.py, the code still can run without errors.  I am pretty confused about which file actually loads the image (because I want to change the image loading function).

Thanks!

[2021-10-04 16:54] CharlesNJ opened #6231 "TypeError: 'NoneType' object is not subscriptable"
**Describe the bug**
While training the model I am facing this error, not sure where am I going wrong.

**Reproduction**

1. What command or script did you run?

[code]

Using the pre-trained model as a checkpoint for transfer learning.

2. Did you make any modifications on the code or config? Did you understand what you have modified?
Yes, I modified the code for custom object detection for the c

[2021-10-04 18:19] neel04 commented on #6231
that seems to be a problem with your dataset - double-check the type. How many classes are you classifying? are you sure the format is correct?

[2021-10-04 21:48] AndreaPi commented on #6231
I agree - sounds like an error in the number and/or naming of classes. This happened to me quite often when I began to use MMDetection. If you share your config file, we could help more. BTW, I'm curious - are you using a model where the backbone network is Swin-S and the head is Cascade Mask R-CNN? I cannot find anything like that here - the closest one (but it's Mask R-CNN, not Cascade) is this

[2021-10-04 21:52] AndreaPi commented on #6216
Ok, I didn't get any answers, but the script seems to work fine for me. If there's interest in such a script, I could make a PR and put it in `misc` or `analysis`, I guess - maybe with an option to write to disk or just print to stdout, as it's doing now. Otherwise I'll just close the issue.

[2021-10-04 21:53] AndreaPi commented on #6212
Thanks, I'll have a look and let you know if it answers my question (in which case I'll close the issue) or if I need more info.

[2021-10-04 22:01] CharlesNJ commented on #6231
I looked into the json file, but I don't see a discrepancy in the format. Does it matter which annotation comes first?
`iscrowd` is in the middle on the annotations whereas COCO format is at the last. I am assuming this is not a biggie!

[code]

[2021-10-04 22:07] CharlesNJ commented on #6231
I think I got the problem, mask is set to true while I don't have mask segmentation in the annotations file. Thank you! That solved the problem, even though it raised other issues, hoping that it is not related to this! Thank you, sending the config file helped me see it!

[2021-10-04 22:07] #6231 closed

[2021-10-04 22:11] neel04 commented on #6231
@CharlesNJ If you might manage to get Cascade RCNN with Swin transformer working and training well, would you be so kind as to send me the final config so that I can see why my stuff is erroring out?

I think I didn't include `_base_` but that itself errors out on addition, so I ditched it

[2021-10-04 22:16] CharlesNJ commented on #6231
Lol, how are you connecting the files then?
For sure! I am still running into errors!! I will update here if I get a breakthrough!

[2021-10-04 22:17] neel04 commented on #6231
I have no idea lol - it just seems to does automatically (I guess)

[2021-10-05 00:49] sxy1122 opened #6232 "Dataset problem"
![image](https://user-images.githubusercontent.com/77336413/135943311-84e34f42-1b49-45c5-a6ee-fb04ebfcb3a8.png)

I have a question, why are the data sets used in validation and testing all validation data sets

[2021-10-05 01:48] Alvin0629 commented on #6230
Sorry, my bad. The problem is that when I copy the original folder to a new one and run the code under the new one, it still points to the original file. Thanks!

[2021-10-05 01:48] #6230 closed

[2021-10-05 03:03] zhouzaida commented on #6229
please check whether the CUDA/GCC runtimes are the same as those used for compiling mmcv.

[2021-10-05 03:04] mathshangw commented on #6229
Excuse me how can I check it ?

On Tue, Oct 5, 2021, 5:04 AM Zaida Zhou ***@***.***> wrote:

[2021-10-05 03:18] zhouzaida commented on #6229
Print the cuda runtime version by `nvcc --version`. And what command did you use to install mmcv-full?

[2021-10-05 03:23] zhouzaida commented on #6229
Maybe you installed mmcv for cuda11 but your runtime cuda is 10.2, so it won't find

[2021-10-05 03:54] mathshangw commented on #6229
[code]

i installed `pip3 install mmcv-full -f https://download.openmmlab.com/mmcv/dist/cu111/torch1.8.0/index.html`
so i need to install mmcv-full with cuda 10.2 ? but where version 10.2 come from and nvcc is 9 and i have cuda 11 ?

Thanks for help

[2021-10-05 04:38] zhouzaida commented on #6229
Could you provide the following environments?

[code]

[2021-10-05 04:51] mathshangw commented on #6229
thanks i solved it by re-install mmcv-full for cuda 10.2

[2021-10-05 09:35] firsakov opened #6233 "build_dataset doesn't return annotations"
Hi,

This is what i get with build_dataset, no annotations, count is 0 for all classes
![mmdet](https://user-images.githubusercontent.com/74253273/135997886-349bbfb9-f3fc-4ca0-8d14-1f6373a9c90c.jpg)

maybe you have any ideas why?

this is my config file, just a few modifications of classes and data paths comparing to original yolov3_d53_mstrain-608_273e_coco.py

[code]

[2021-10-05 09:58] #6229 closed

[2021-10-05 09:58] mathshangw commented on #6229
i re-installed mmcv-full and torch for cuda 11.0 and worked finally

[2021-10-05 11:32] TolgaOzdmir commented on #6233
You should try to change data part of your code as below

data = dict(
    samples_per_gpu=8,
    workers_per_gpu=4,
    train=dict(
        type=dataset_type,
        classes=classes,
        ann_file=data_root + 'annotations/train.json',
        img_prefix=data_root + 'images/',
        pipeline=train_pipeline),
    val=dict(
        type=dataset_type,
        classes=classes,
        ann_file=d

[2021-10-05 14:32] CharlesNJ commented on #6231
@neel04 what's happening with your training?

[2021-10-05 15:35] firsakov commented on #6233
@TolgaOzdmir no result, still 0 for all classes. but now I can see 'classes' in cfg.data.test

[2021-10-05 17:56] neel04 commented on #6231
Not very stable and extremely spiky - with severe overfitting. It seems that whatever I try, I can't fine-tune for some reason :(

[2021-10-05 18:02] CharlesNJ commented on #6231
@neel04 Oh no! Are you training from scratch or are you using a pre-trained model?

[2021-10-05 18:15] neel04 commented on #6231
*trying* to use pre-trained models, get a lot of warnings that half of the layers don't match and spiky training.
Are you trying to fine-tune too?

[2021-10-05 18:37] CharlesNJ commented on #6231
Yeah, I am trying to use the pre-trained model too, same with me. I removed masks in the DS that's one of the reasons for many of my errors.

[2021-10-05 18:58] CharlesNJ opened #6234 "TypeError: 'NoneType' object is not iterable"
**Describe the bug**
I am assuming this has to do something to do with removing the masks. I have set `with_masks` to Flase in the config file. Using mask rcnn for the dataset which doesn't have mask labels.

**Reproduction**

1. What command or script did you run?

[code]

2. Did you make any modifications on the code or config? Did you understand what you have modified?
Yes, disabled the masks!

[2021-10-05 19:22] neel04 commented on #6231
yeah, it seems the models can't be loaded properly? seems more like a problem with Swin + cascade_RCNN than `mmdetection`

[2021-10-05 19:44] neel04 commented on #6231
how's your config currently? I think I am doing things wrong by ignoring stuff like `_base_` 🤔

[2021-10-05 22:07] CharlesNJ commented on #6231
I haven't made any changes except for changing the classes, num_classes, and the paths of the data.

[2021-10-06 03:29] Jack-Hu-2001 opened #6235 "When will gfocal loss+use_sigmoid=False be implemented?"
**Describe the feature**
In gfocal loss, the use_sigmoind parameter must be set to True in latest versions. Or it will raise not implemented error.

**Motivation**
In CVPR2021, GFocal loss v2 is published and it uses a new GFocalHead but an old GFocal loss with use_sigmoid=False.

**Related resources**
You can look at this repo of GFocalV2 based on mmdetection 2.6.0, which is not supported in 2.16

[2021-10-06 07:01] TolgaOzdmir commented on #6233
After this change, your code seems fine to me. You may have problem with data path parts in your code or annotation file

[2021-10-06 07:31] firsakov commented on #6233
@TolgaOzdmir just realized I have data in COCO format, maybe i should convert in to yolo format.
i've never dealed with yolo format before, maybe you can help with correct data structure for yolo?
-data
---images
------.jpg
-annotations
---obj_train_data
---obj.data
---obj.names
---train

is that right data structure for yolo?

[2021-10-06 07:50] TolgaOzdmir commented on #6233
@firsakov I've also used YOLOv3 with COCO formatted dataset in the project but I did not get this kind of problem. After look at my code, I realized that I use data part as below

[code]

[2021-10-06 08:17] hyunjung0208 commented on #6208
I knew it was in the middle of an experiment in Windows, but the demo file was running, so I just proceeded.

To explain the process,
I made and trained my model based on mmdetection on Linux.
Then, I created a program using the model I learned from Linux using the pyinstaller in Windows (the demo file and the trained model test were successful in Windows).
After that, the completed program was mo

[2021-10-06 10:00] joihn opened #6236 "How to track validation loss"
by using` workflow = [('train', 1),('val', 1)]`, I can track the validation AP.

How to track **both the validation AP and validation loss ?**

according to this PR https://github.com/open-mmlab/mmdetection/pull/1093 it's possible but I can't figure how

[2021-10-06 10:10] joihn commented on #6236
edit : actually the loss correctly get reported in the local logs, but does not get uploaded to "weight and bias" service.

I'm using this code in the config for weight and biases:
[code]

[2021-10-06 10:42] firsakov commented on #6233
figured out, my fault, sorry

[2021-10-06 10:42] #6233 closed

[2021-10-06 12:50] neel04 commented on #5954
@jshilong I have the same problem which occurs only after an epoch in Val/checkpointing. Any ideas how to solve it?

[2021-10-06 15:02] Jack-Hu-2001 commented on #6222
It's actually another question.

[2021-10-06 15:26] waddington commented on #4194
@GiangHLe did you make any progress with this? I am attempting to do the same but the colours in my images are all messed up.

[2021-10-06 19:58] CharlesNJ commented on #6234
I understand that this is something related to [DistributedDataParallel or DataParallel](https://pytorch.org/tutorials/intermediate/ddp_tutorial.html#comparison-between-dataparallel-and-distributeddataparallel) but still, I don't understand the problem behind it.

[2021-10-06 20:11] CharlesNJ opened #6237 "RuntimeError: Default process group has not been initialized, please make sure to call init_process_group."
**Describe the bug**
I think this is something related to PyTorch, I am trying to understand what is the problem. I am just trying to run a pre-trained model to transfer the weights to train a custom model.

**Reproduction**

1. What command or script did you run?
``python tools/train.py  'configs/truck/cascade_mask_rcnn_swin_small_patch4_window7_mstrain_480-800_giou_4conv1f_adamw_3x_truck.py'
``

[2021-10-06 20:18] CharlesNJ commented on #6237
I think this has something to do with [DistributedDataParallel or DataParallel](https://pytorch.org/tutorials/intermediate/ddp_tutorial.html#comparison-between-dataparallel-and-distributeddataparallel) but not sure what the problem is. Would appreciate if you can direct me where to look for the problem. Thanks!

[2021-10-07 03:16] hiyyg commented on #4565
@ZwwWayne @ppwwyyxx Does `pycocotools` have opensource code, or it is just maintained inside facebook?

[2021-10-07 04:08] thisisi3 opened #6238 "[BUG]bug in ConvFCBBoxHead's init cfg."
https://github.com/open-mmlab/mmdetection/blob/c88509cb9a73d6bd1edcba64eb924d3cf3cfe85d/mmdet/models/roi_heads/bbox_heads/convfc_bbox_head.py#L103

This line will override initializers for fc_cls and fc_reg because they are also nn.Linear.
Or is it what's intended? But I see the old way to initialize fc_cls and fc_reg is using Normal.

[2021-10-07 08:00] ShiMinghao0208 opened #6239 "about 贴合"
![image](https://user-images.githubusercontent.com/53176521/136344053-8941c876-ecf3-4bb4-9df7-0921a0216d10.png)
When I use the command “docker build -t mmdetection docker/”， there was some error，just like git clone error，pip install -r requirements/build.txt，and now the above picture..
And I dont know how to solve it

[2021-10-07 09:31] mdcaio commented on #392
I'm having the same issue. Any solutions yet? (cv2 import does not solve it.)

[2021-10-08 02:48] RangiLyu commented on #6150
Yes, you are right.

[2021-10-08 03:02] #6192 closed

[2021-10-08 03:06] #6148 closed

[2021-10-08 03:14] #6193 closed

[2021-10-08 03:16] AronLin commented on #6191
When you creating a PR, the template will be shown on the web page.

[2021-10-08 03:17] #6197 closed

[2021-10-08 03:21] RangiLyu commented on #6237
Could you provide more details about what you modified to the code and config?

[2021-10-08 03:24] jshilong commented on #6228
You can refer to
https://github.com/open-mmlab/mmdetection/blob/c88509cb9a73d6bd1edcba64eb924d3cf3cfe85d/mmdet/core/visualization/image.py#L160
you need random select a color for each instance

[2021-10-08 03:27] AronLin commented on #6235
We will pay attention to this feature, but this is not our plan for the time being.
If you want to support this feature in MMDetection, PRs are definitely welcomed! We will also organize the PR review as soon as the PRs are created.

[2021-10-08 03:29] jshilong commented on #6227
You may need to check whether the cuda&cudnn version in your runtime environment is consistent with the compiled version of the PyTorch

[2021-10-08 03:33] jshilong commented on #6226
The `mAP` is used to evaluate the performance of the model on the whole dataset and you can get it with `tools/test.py`

[2021-10-08 03:50] AronLin commented on #6213
We do not support these settings, you may need to implement them yourself.

[2021-10-08 05:35] twmht commented on #6227
cuda version is correct.

but do we need to install cudnn? I thought cudnn is bundled with pytorch (from pip install).

[2021-10-08 05:37] GiangHLe commented on #4194
@waddington It's weird, can you provide the script that you used to get the image?

Besides that, I haven't used mmdetection since last Christmas. There are some new updates that I might not know.

[2021-10-08 07:33] jshilong commented on #6227
Sure, have you tested it under lower cuda versions, for example, PyTorch with cuda 10.x

[2021-10-08 08:10] apanand14 opened #6240 "KeyError: 'supercategory' while using coco_error_analysis.py"
I'm doing the coco_error_anaylsis after successfully training and testing on custom dataset. And I do not have any supercategory in my coco json files. I'm facing this error.
I use,
**mmcv-full (1.1.5)
mmdet 2.7.0**

Here is the complete error message which I get:

loading annotations into memory...
Done (t=0.01s)
creating index...
index created!
Loading and preparing results...
DONE (t=0.00s)
cre

[2021-10-08 11:07] #6213 closed

[2021-10-08 11:35] CheungBH opened #6241 "About details for SSD detection"
Hello. I am using SSD to train an object detector, and I feel confused about some details.
The detector calls a get_bboxes() function to obtain the absolute coordinate of the bbox. There 's a line
https://github.com/open-mmlab/mmdetection/blob/c88509cb9a73d6bd1edcba64eb924d3cf3cfe85d/mmdet/models/dense_heads/rpn_head.py#L139
which generates a 5-element list of anchors in the shape of
[torch.Size([

[2021-10-08 11:42] pingguokiller opened #6242 "Potential bug in function "forward_train" in "mmdet/models/detectors/two_stage.py""
**Describe the bug**
If I embedded some data through a customized pipeline, i.e. the input parameter "kwargs" is not None, an error would occur at line "roi_losses = self.roi_head.forward_train(x, img_metas, proposal_list".

**Bug fix**

In function "forward_train" in "mmdet/models/roi_heads/standard_roi_head.py",  ", **kwargs" should be added at the end of the definition of the function.

[2021-10-08 12:30] FDInSky opened #6244 "GFL导出onnx时遇到错误"
Traceback (most recent call last):
  File "./tools/onnx_mmdet.py", line 334, in <module>
    pytorch2onnx(
  File "./tools/onnx_mmdet.py", line 89, in pytorch2onnx
    torch.onnx.export(
  File "/home/xiaolong.sun/.local/lib/python3.8/site-packages/torch/onnx/__init__.py", line 271, in export
    return utils.export(model, args, f, export_params, verbose, training,
  File "/home/xiaolong.sun/.loca

[2021-10-08 13:55] sxy1122 opened #6246 "Specific model code problems"
![image](https://user-images.githubusercontent.com/77336413/136568841-35cf83ed-3bd0-49db-9d3b-174b21aec7fe.png)

I would like to ask, the specific DCN is like a Resnet file. Where can I see the specific code. Or how to import the existing DCN modules into other frameworks? Because I didn't find the code related to DCN, I only found some files related to DCN in the configurations file

[2021-10-08 14:22] #6234 closed

[2021-10-08 14:25] CharlesNJ commented on #6237
@RangiLyu Thanks for responding! I have been making some silly mistakes in using the wrong config file. Once I have that sorted out, if the error still persists, I will reopen the issue!

[2021-10-08 16:18] ravipandey95 opened #6247 "Get Labels of the predicted images as a .txt file"
I want to know how to get the labels of the predicted images as txt file , I am building an OCR so it would help me to get the labels as txt file so that I can merge them and get txt file as a result , as I don't want  to use any open source libraries like Pytesseract or easyocr.

[2021-10-09 07:39] #6222 closed

[2021-10-09 08:05] dev-sungman commented on #6209
@PeterVennerstrom . Thanks for the kind information.
But, the different GPU usage even occurred when datasets have the same number of classes.

[2021-10-10 03:47] BIGWangYuDong commented on #6240
Hi, it is suggested to update mmdet version, and maybe you can re-build your environment and try it again. This error seems to occur in `multiprocessing.Pool`, so try to rebuild your environment again. If you also meet this error, please let us know

[2021-10-10 03:53] BIGWangYuDong commented on #6242
Hi, you are right, you can create a Pull Request(PR).

[2021-10-10 13:17] zhongqiu1245 opened #6249 "How to calculate the FLOPs when I use TTA?"
Hi, dear authors!
Thank you for your amazing job!
Could you tell me how to calculate the FLOPs when I use TTA?
Thank you!

[2021-10-10 17:30] AndreaPi opened #6250 "Train DetectoRS, SCNet or HTC on a custom dataset of type COCOdataset"
Hi all,

I would like to train one of the three models in the subject on a custom dataset of type `COCODataset`. I was able to train both Mask R-CNN and Cascade Mask R-CNN succesfully on this dataset, so the dataset is ok. However, reading here

https://mmdetection.readthedocs.io/en/latest/1_exist_data_model.html#prepare-datasets

it seems like some additional COCO-stuff dataset is needed to train

[2021-10-10 17:55] kankanzheli opened #6251 "安装问题"
系统为Ubuntu18 64
在anconda python=3.8环境下已安装pytorch1.8.0.并按照教程安装mmcv与mmdetection
在运行测试使用的代码时出现以下错误：python test.py
/home/zhaowentao/Visual/mmdetection/mmdet/core/anchor/builder.py:16: UserWarning: ``build_anchor_generator`` would be deprecated soon, please use ``build_prior_generator``
  warnings.warn(
Use load_from_local loader
/home/zhaowentao/Visual/mmdetection/mmdet/datasets/utils.py:65: UserWarnin

[2021-10-10 19:52] neel04 opened #6253 "Evaluation loss is being reported, but class-based AP scores are 0?"
Hi, I have the following log
[code]
Any ideas why?

[2021-10-10 23:38] BIGWangYuDong commented on #6241
https://github.com/open-mmlab/mmdetection/blob/master/configs/faster_rcnn/faster_rcnn_r50_caffe_c4_1x_coco.py
this one does not use FPN, you can refer to the name of the config file

[2021-10-11 01:19] accforaus opened #6254 "Weird result in trained model inference: multiple detect on one object"
Hi guys, I have some questions about the result in object detection.

I trained the model using custom coco datasets. and when I try inference,

it showed weird results like this:
![스크린샷 2021-10-11 오전 9 37 12](https://user-images.githubusercontent.com/38602453/136720350-8318c309-9d1d-4cbb-9c28-fb3c6c67d3c1.png)

This image using at training, I expected that objects in the image must have

[2021-10-11 02:10] ZwwWayne commented on #6224
We use pycocotools to calculate mask AP and mAR following common practices. See related code here: https://github.com/open-mmlab/mmdetection/blob/master/mmdet/datasets/coco.py#L440

[2021-10-11 02:10] #6224 closed

[2021-10-11 02:11] ZwwWayne commented on #6244
Please @RunningLeon take a look. You can also refer to the documentation https://mmdetection.readthedocs.io/en/latest/tutorials/pytorch2onnx.html

[2021-10-11 02:17] ZwwWayne commented on #6217
As long as we need to detect the exact area, AP is a good choice to evaluate the performance and help us to have a first feeling about the model. However, it might not be the most suitable metric, you may also considering FPPI. Usually, thoroughly analyze the combination metrics would give more insight into how to optimize your model.

[2021-10-11 04:40] jshilong commented on #6249
You can calculate the flops of each scale with our script and sum them up manually.

[2021-10-11 05:10] jshilong commented on #6250
You can remove the `semantic_head` if you do not need it

[2021-10-11 05:11] jshilong commented on #6246
Feel free to reopen the issue if there is any question

[2021-10-11 05:11] #6246 closed

[2021-10-11 05:20] jshilong commented on #6254
Because NMS only is applied to predictions of same class, if you hope it do cross class, you can set `class_agnostic` to
[code]

[2021-10-11 05:22] jshilong commented on #6228
Feel free to reopen the issue if there is any question

[2021-10-11 05:22] #6228 closed

[2021-10-11 05:26] jshilong commented on #6174
Seems the error message indicates the input is an `FTT`, it may be an internal define class in your code, you should try to find how to convert it to a tensor.

[2021-10-11 05:26] jshilong commented on #6225
Feel free to reopen the issue if there is any question

[2021-10-11 05:30] jshilong commented on #6227
`Do I need to install cudnn manually?`
No，you need't. There would be a cudnn when you download Pytorch as far as I know

[2021-10-11 05:36] jshilong commented on #6251
Would you mind telling me where are similar issues?

[2021-10-11 05:50] #6254 closed, assigned to jshilong

[2021-10-11 06:47] luuuyi opened #6255 "convert onnx to trt, the tqdm show speed is too slow"
Hi, everyone. Have anybody found that when we follow the official guide to convert model as pytorch->onnx->tensorrt, and test the mAP with `tool/deployment/test.py` script, the tqdm package show maskrcnn_r50_fpn's speed is only 1.3task/s.
I wonder know is this a normal phenomenon or i make somewhere mistake.

THX for your guys looking!

[2021-10-11 06:52] rnlee1998 commented on #6185
# Thanks for your reply!

[2021-10-11 07:08] AndreaPi commented on #6250
Perfect! I'll test this and let you know if I manage to get these bad boys running or if I need further support. While I'm at it, I could write a short `.md` file with an example of using these models without COCO-stuff, if it's something you'd find useful.

[2021-10-11 07:33] Y969882566 opened #6257 "AttributeError: 'ConfigDict' object has no attribute 'score_thr'"
When I train a MaskRCNN using my own custom dataset, it raised the following error:
Traceback (most recent call last):
  File "tools/train.py", line 187, in <module>
    main()
  File "tools/train.py", line 176, in main
    train_detector(
  File "D:\anaconda3\envs\S\lib\site-packages\mmdet-2.11.0-py3.8.egg\mmdet\apis\train.py", line 185, in train_detector
    runner.run(data_loaders, cfg.workflow

[2021-10-11 08:37] TolgaOzdmir commented on #6253
You may have a problem with the config file such as data train/test/val path, classes, etc.

[2021-10-11 10:38] aldakata commented on #1262
Go to https://mmdetection3d.readthedocs.io/en/latest/tutorials/config.html > Model zoo statistics: click the link of the model you want  (I wanted MVXnet : https://github.com/open-mmlab/mmdetection3d/tree/master/configs/mvxnet) go to the readme.md and under the Results table there will be a download link.

[2021-10-11 10:53] RunningLeon commented on #6255
@luuuyi Hi, maskrcnn is known slow and we did not test the inference speed with TensorRT.

[2021-10-11 15:59] deepsea12 opened #6258 "@jshilong what do you think is the reason behind a lot of dets? I have two implementation:"
@jshilong what do you think is the reason behind a lot of dets? I have two implementation:
1. The original detector ( no changes made )
2. My own detector ( using my own proposal to pass to roi.head.simple.test, this is the only change)
For the original detector the dets are close to the number of gts and the average precision is very high, but for my modified model(2) the number of dets is very h

[2021-10-12 00:49] Tesla2678 opened #6260 "ImportError: cannot import name 'replace_ImageToTensor' from 'mmdet.datasets'"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**

The training stage (Training VOC2007 dataset with faste

[2021-10-12 01:22] #6185 closed

[2021-10-12 01:23] #6178 closed, assigned to hhaAndroid

[2021-10-12 01:25] hhaAndroid commented on #6182
@del-zhenwu What error does the verification script report?

[2021-10-12 01:58] Tesla2678 commented on #6260
Hello hhaAndroid, Thank you very much, It works after pip install mmdetection.

[2021-10-12 01:58] #6260 closed

[2021-10-12 03:12] shripaddeshmukh opened #6261 "TypeError: multi_scale_deformable_attn_pytorch() takes 4 positional arguments but 6 were given"
Thanks for your error report and we appreciate it a lot.

**Checklist**

- [x] I have searched related issues but cannot get the expected help.
- [x] I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
- [x] The bug has not been fixed in the latest version.

**Describe the bug**

I trained Deformable-DETR model on a custom da

[2021-10-12 08:23] NoLookDefense opened #6262 "Basic concepts about generating labels with FPN"
I want to consult some basic concepts about FPN.
In network using FPN structure, "different boxes are detected by different scales based on their sizes". However, I either couldn't find the criterion which assign different boxes to different scales, nor know that whether the criterion is different in different models (like FasterRCNN, Yolo and SSD).
Could you tell me the criterion and its correspo

[2021-10-12 11:00] manisoftwartist opened #6263 "About linear learning rate"
From the page [mmdetection -Train predefined models on standard datasets](https://mmdetection.readthedocs.io/en/latest/1_exist_data_model.html#train-predefined-models-on-standard-datasets)

If I have a single GPU and a batch size of 16, I go with lr=0.02?

[2021-10-12 12:28] Monkey-D-Luffy-star opened #6264 "Predicted bbox too much cause GPU OOM during test on wider face dataset"
I know that gpu_assign_thr can be set to reduce GPU memory usage during training process, but how can I solve this problem when doing NMS during inference due to the large number of prediction boxes?
I ran into the following problem when I did test on Wider Face.
I checked the picture that caused this problem and it has about 1000 GT BBoxes, so I guess the network predicted a lot of Bboxes and cau

[2021-10-12 14:26] tikitong opened #6265 "ERROR - The testing results of the whole dataset is empty - YOLOX and COCO"
- [x] I have searched related issues but cannot get the expected help.
- [x] I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.

**The evaluation of the results does not take place**. It seems that it can come from here:
`evaluation = dict(interval=1, metric='bbox', classwise=True)`

An error is also raised when I set the sa

[2021-10-13 01:10] monkeycc opened #6267 "C++预测部署教程有没"
想用C++进行预测部署，但是官方教程没发现有C++的教程

[2021-10-13 02:10] CheungBH commented on #6267
用ncnn吧

[2021-10-13 02:50] hhaAndroid commented on #6263
Yes

[2021-10-13 02:52] hhaAndroid commented on #6262
@NoLookDefense You can refer to [paper of RetinaNet](https://arxiv.org/abs/1708.02002)

[2021-10-13 07:13] yangxiaoyany opened #6269 "Trainging time is longer and longer when i use ./tools/dist_train.sh configs/4.py 2 --no-validate to train with my 2 2080ti"
Thank you for helping me to deal with this problem .
2021-10-13 14:54:33,942 - mmcv - INFO - Reducer buckets have been rebuilt in this iteration.
2021-10-13 14:55:09,161 - mmdet - INFO - Epoch [1][50/3814]     lr: 4.945e-04, **eta: 19:38:03, time: 0.927,** data_time: 0.202, memory: 6108, loss_rpn_cls: 0.1093, loss_rpn_bbox: 0.0170, s0.loss_cls: 0.6711, s0.acc: 85.1758, s0.loss_bbox: 0.0606, s1.los

[2021-10-13 07:20] Riser6 opened #6270 "CUDA out of memory during training YOLOX"
Dear open-mmlab:
     Thanks  for your wanderful work and great contribution to the computer vision community! Recently, when I used mmDetection framework to train YOLOX, the  cuda memory occupation kept rising. I feel that there may be cuda memory leakage in your code, and I hope you can solve it!

[2021-10-13 07:38] AronLin commented on #6270
We have not encountered this problem, please refer to the issue template to show the commands you run, the environment, and the error information to us.

[2021-10-13 07:40] joihn opened #6271 "detecoRS, loading checkpoint loss go to nan"
I have tried to train
https://github.com/open-mmlab/mmdetection/tree/master/configs/detectors/detectors_cascade_rcnn_r50_1x_coco.py
on my custom dataset.

If I train from scratch, everything is fine.

However, If I load the proposed pre trained checkpoint:
https://download.openmmlab.com/mmdetection/v2.0/detectors/detectors_cascade_rcnn_r50_1x_coco/detectors_cascade_rcnn_r50_1x_coco-32a10ba0.pth

A

[2021-10-13 07:51] AronLin commented on #6269
You can try to train our official model. If the training time gradually increases, the problem may occur on GPUs.
If the training time is normal, the problem may occur in your code.

[2021-10-13 07:54] #6264 closed

[2021-10-13 08:06] rainylt opened #6272 "Mosaic can't be used without RandomAffine?"
I have applied Mosaic on ATSS and get a pretty score, but when I commented out the RandomAffine in train_pipeline, it decreased to half of the score before. Does it seem that RandomAffine is important for Mosaic?

Have any others performed experiments like this?

[2021-10-13 08:53] joihn commented on #6271
I think my model based on cascadercnn does not have a semantic head
![image](https://user-images.githubusercontent.com/11663917/137100511-ea99c86f-6958-4e7e-b069-7328bc1438d8.png)

[2021-10-13 08:54] joihn commented on #6271
Well, we just have to adjust the harcoded mean/std of the data in the config file,
so the new dataset get correctly  normalized by the train piepeline to std=1 and mean=0, right ?

[2021-10-13 09:07] junhuplim commented on #6212
yes i will be taking a look at it and will update here if i manage to find anything

[2021-10-13 11:04] junhuplim commented on #6212
@BIGWangYuDong may i ask what is the `result` that is returned from https://github.com/open-mmlab/mmdetection/blob/1a90fa80a761fe15e69111a625d82874ed783f7b/mmdet/apis/test.py#L17

Am hoping to see if there is the probability output of the model over here for each detection

[2021-10-13 12:30] joihn opened #6275 "Logs analysis : convert n_iter to n_epoch"
in order to make my logs plot more intuituve, I want to put the `n_epoch` instead of `n_iter` on the X axis.
I tried the folowing formula
`N_epoch = N_iter*batch_size / dataset_train_size`

But it doesn't yield the correct results. Any Idea why ?

(not that I'm using a validation set and that my workflow is the following :` workflow = [('train', 1),('val', 1)]` )

[2021-10-13 12:35] joihn opened #6276 "Is the online data augmentation done on CPU or GPU ?"
I talking about the stuff done in `train_pipeline = [........]`

[2021-10-13 14:04] joihn commented on #6271
Exactly

[2021-10-13 23:38] weiji14 opened #6277 "Unable to use mmdet.core.evaluation.eval_map on GPU because it uses multiprocessing"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**

Hi there, I'm trying to use [`mmdet.core.eval_map`](htt

[2021-10-14 03:18] jshilong commented on #6257
Thanks for your bug reporting, we want to help users to check whether the number of classes of heads is consistent with the num_class in the dataset, the corresponding implementation is in
https://github.com/open-mmlab/mmdetection/blob/1a90fa80a761fe15e69111a625d82874ed783f7b/mmdet/datasets/utils.py#L116
Seems this hook is not robust enough when you add a new head, I will help to improve it, and y

[2021-10-14 03:25] RangiLyu commented on #6276
It's on CPU

[2021-10-14 03:40] jshilong commented on #6255
ping@RunningLeon

[2021-10-14 03:51] jshilong commented on #6253
Sorry for the late response, I guess there are some things wrong in your test Phares, If you make sure the model's visualization is correct, the only reason is the code related to the metric or the way to load annotaions is wrong. Is there any modification of the code? you can debug by visualized your annotations and your predictions of the same image before calculating mAP, then you can localize

[2021-10-14 04:05] jshilong commented on #6251
Any update

[2021-10-14 04:44] jshilong commented on #6250
Sorry for the late respondence, you can delete it in `/mmdetection/configs/detectors/detectors_htc_r50_1x_coco.py'`
About the mechanisms of `__base__`, you can refer to https://mmdetection.readthedocs.io/en/latest/tutorials/config.html#tutorial-1-learn-about-configs

[2021-10-14 04:45] #6249 closed, assigned to jshilong

[2021-10-14 04:46] jshilong commented on #6238
I will check it

[2021-10-14 04:51] jshilong commented on #6238
Sorry for the late respondence,
you are right, we will fix asap

[2021-10-14 07:32] Riser6 opened #6280 "After 2 epoch rounds of training, I encountered the problem of input picture size"
Dear mmdet team:
  Thanks for your wanderful work and huge contribution to the computer vision community! Recently, when I use mmdetection to train my own new model on VOC dataset. After one or two epoch rounds of training, I encountered the problem of input picture size. According to the setting of the data pipeline, all images will be processed to 640*640, so when the executing the network forwa

[2021-10-14 08:14] RangiLyu opened #6281 "Iteration Plan of v2.18.0 - October 2021"
# Iteration Plan of v2.18.0 - October 2021

MMDetection v2.17.0 has been released [here](https://github.com/open-mmlab/mmdetection/releases/tag/v2.17.0).
We list our plan for v2.18.0, which will be released on October 27th.
The PRs from the communities will also be listed here.
Thus, developers could comprehensively know the plan and the progress.

### Algorithms:

- [x] #6050
- [ ] Release YOLOX

[2021-10-14 08:29] #6196 closed

[2021-10-14 12:18] joihn commented on #6271
While not beeing the cleanest workflow, I find it easier for undertstanding what's happening in the cfg and modifying it.

Originally yes but then I added some of my modifications. You can use a diff tool to see where are the modif.

[2021-10-14 12:18] #6271 closed

[2021-10-14 15:04] neel04 commented on #6253
Many thanks @jshilong, will try both! 🤗

Would you happen to know if `mmdetection` has any script that easily visualizes bbox predictions @ image, otherwise I wouldn't waste time manually writing one!

I will surely update my findings here - it may be help for someone else! 🚀

[2021-10-15 02:34] wangxianrui opened #6283 "memory increase abnormally"
hello, when I use the mmdetection to train my custom model with distrubuted
the memory may increased abnormally at the second epoch first iter,
a then the training blocked.
this problem appear randomly，but it must be the second epoch first iter,
how show I solve the problem, and could you give me some suggestion?

`

2021-10-14 16:54:47,777 - mmdet - INFO - Epoch [1][110/110]     lr: 1.491e-04, et

[2021-10-15 05:40] kingbirdWc opened #6285 "支持模型的剪枝量化蒸馏吗？"
您好，请问mmdetection支持模型的剪枝量化蒸馏吗？谢谢

[2021-10-15 05:46] sanmulab opened #6286 "How to visualize the proportional distribution of positive and negative sample gradients of different category classifiers"
Hello, I want to ask if there is any visual code or tool script for the gradient proportional distribution of positive and negative samples of different categories of classifiers in mmdet. For example, the visualization of the gradient ratio of positive and negative samples in **Seesaw Loss** paper. I also want to have such visual pictures added to my paper. Thank you for telling me.

[2021-10-15 08:30] del-zhenwu opened #6287 "Pycocotools version in workflows/build.yaml need to be clarified"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
I got error while running the step script in `workflows/

[2021-10-15 09:19] lijoe123 opened #6288 "What is the '64 X 4d' mean?"
I want to know about    '64x4d'    of     'X-101-64x4d-fpn' mean? Thank you!

[2021-10-15 09:19] lijoe123 opened #6289 "What is the '64 X 4d' mean?"
I want to know about    '64x4d'    of     'X-101-64x4d-fpn' mean? Thank you!

[2021-10-15 09:22] ZwwWayne commented on #6289
Duplicates #6288

[2021-10-15 09:22] #6289 closed

[2021-10-15 09:40] limberc commented on #5594
the filename should be like this: `004453_01_01/132.png`. Change the last `_` into `/`.

[2021-10-15 10:32] del-zhenwu opened #6290 "[doc] Config file not existed in examples"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**

https://github.com/open-mmlab/mmdetection/blob/master/d

[2021-10-15 15:04] CharlesNJ opened #6291 "AssertionError: Torch not compiled with CUDA enabled"
**Describe the bug**
Using the pre-trained model for inference on a CPU machine. It's a GPU-trained model and I am assuming it should work on a CPU machine if I change the device to cpu. I did change the device to cpu in inference.py and I am getting this error

**Reproduction**

1. What command or script did you run?

```python /cbn/CBNetV2/demo/image_demo.py /cbn/1.jpg /cbn/CBNetV2/cascade_mask_

[2021-10-15 15:10] joihn opened #6292 "Easier way to edit cfg file // Pycharm auto-suggestion"
My current workflow is the following :
Browse the MMdet codebase, notice the interresting args.

Then I edit my cfg file manually to set these arguements, but avoiding **dict nesting level error (on hirarchy too high / too low in a dict)** or even typos error is bit tedious.

Is there an easier workflow, where I could benefit from my IDE (Pycharm) **auto-suggestion, auto-linting, auto-check** etc.

[2021-10-16 02:29] hhaAndroid commented on #6291
@CharlesNJ It's ok. You need to specify the device as the CPU, and some algorithms do not support cpu inference, you can refer to https://github.com/open-mmlab/mmdetection/blob/master/docs/get_started.md#install-without-gpu-support

[2021-10-16 02:32] hhaAndroid commented on #6287
@del-zhenwu Thank you for your feedback, can you create a PR to fix it?

[2021-10-16 02:33] hhaAndroid commented on #6286
@chensen668 Sorry, we do not provide such tools at the moment.

[2021-10-16 03:04] CharlesNJ commented on #6291
I have not seen Cascade Mask Rcnn in the list, so I am assuming it should work. Would you help me understand what am I missing that I am getting this error, please?

[2021-10-16 04:57] 834799106 opened #6294 "在跑yoloX模型时，随着epoch增加，显存占用也在增加，请问这是正常的吗，还是说增加到一定程度才会稳定？"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is.

**R

[2021-10-16 07:13] chensen668 commented on #6286
Is there any relevant instance code? I think some authors say that  can collect positive and negative gradients (of output Logits) in the training for each category. But I don't know how to encode it.

[2021-10-16 07:44] greathope opened #6295 "how to save proposals in faster R-cnn models?"
as title

[2021-10-16 09:14] Bin-ze opened #6296 "使用Yolact推理模型的时侯推理速度比二阶段还要慢为什么"
**Describe the feature**

**Motivation**
A clear and concise description of the motivation of the feature.
Ex1. It is inconvenient when [....].
Ex2. There is a recent paper [....], which is very helpful for [....].

**Related resources**
If there is an official code release or third-party implementations, please also provide the information here, which would be very helpful.

**Additional context*

[2021-10-16 10:36] y78h11b09 commented on #6122
I did so as the mode yolox cfg, it now can run, but not being completely, because the training is terminated sometimes.

***@***.***

From: Lim Jun Hup
Date: 2021-10-13 15:47
To: open-mmlab/mmdetection
CC: y78h11b09; Mention
Subject: Re: [open-mmlab/mmdetection] Train pipeline MixUp augmentation (#6122)
Did you solve it ? I added it by referencing with the mode yolox cfg, but also happen this prob

[2021-10-16 16:04] CheungBH opened #6297 "Loss nan for FasterRCNN"
Hello. I am training FasterRCNN with my customized dataset, and nan loss occurs when training.
I wonder how I can find the solution to the problem? Maybe it is about dataset

[2021-10-17 02:53] Riser6 opened #6298 "when train my new model, optimizer error"
when change the backbone of yolox to a new module, the error occur

Traceback (most recent call last):
  File "tools/train.py", line 189, in <module>
    main()
  File "tools/train.py", line 185, in main
    meta=meta)
  File "/data/wd/mmdetection/mmdet/apis/train.py", line 89, in train_detector
    optimizer = build_optimizer(model, cfg.optimizer)
  File "/data/wd/anaconda3/envs/openmmlab/lib/pyt

[2021-10-17 02:54] Riser6 commented on #6298
[configs.zip](https://github.com/open-mmlab/mmdetection/files/7358617/configs.zip)
the config file

[2021-10-17 02:55] Riser6 commented on #6298
No problem replacing them with other backbone

[2021-10-17 04:08] lijoe123 opened #6299 "Why the 'pafpn' config don't have the mask ap?"
Why the 'pafpn' config don't have the mask ap? May change the coco-detection of pafpn to coco-instance?

[2021-10-17 07:50] elfring opened #6300 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-10-17 21:53] AndreaPi opened #6301 "RuntimeError: CUDA error: device-side assert triggered terminate called after throwing an instance of 'c10::Error'"
**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
I'm trying to train htc_r50 without a semantic head, but I get` "index out of bounds"` errors and then a core dump

[2021-10-18 02:22] mlinxiang opened #6302 "是否支持只有cpu的环境编译和运行？"
本地开发的环境没有gpu，是否有只cpu运行的编译选项？

[2021-10-18 05:12] BChunlei opened #6303 "export onnx with '--simplify', No such file ''"
When I export faster-rcnn model by the following command:

python tools/deployment/pytorch2onnx.py configs/_my_config/my_faster_rcnn_r50_config_dianlan.py work_dirs/my_faster_rcnn_r50_config_dianlan/best_bbox_mAP_epoch_16.pth --output-file faster_dianlan.onnx --shape 800 800 --simplify

it shows me the error:
No such file ''

When the '--simplify' is removed, it's ok.

[2021-10-18 09:13] #6276 closed, assigned to AronLin

[2021-10-18 09:14] #6272 closed, assigned to RangiLyu, hhaAndroid, AronLin

[2021-10-18 09:16] tikitong opened #6304 "Inference speed (FPS) confirmation"
Simply a general question to make sure to understand the information display in the test script. This question is related to the issues [#273](https://github.com/open-mmlab/mmdetection/issues/273) [#528](https://github.com/open-mmlab/mmdetection/issues/528) [#937](https://github.com/open-mmlab/mmdetection/issues/937) but remains without precise response.

In the last iteration:
`[>>>>>>>>>>>>>>>>>

[2021-10-18 09:38] lijoe123 opened #6305 "What's the mstrain mean?"
What's the 'mstrain' of config mean?
Thank you!

[2021-10-18 10:45] sxy1122 opened #6307 "CUDA error: an illegal memory access was encountered"
![image](https://user-images.githubusercontent.com/77336413/137716488-57ee0c72-cee0-491e-9f37-4c214e1753f5.png)

I would like to ask what caused this? I can't find a solution。
Then there is another problem. After training 1epoch, the verification is broken now. How can I make the trained epoch verify and get the map。

[2021-10-18 13:46] jshilong commented on #6307
Please use CUDA_LAUNCH_BLOCKING=1 python /mmdetection/tools/train.py configs/test.py to localize the error more precisely,
Usually, this error indicates there is indexes out of boundary

[2021-10-18 14:02] tikitong commented on #6304
What is the value you call FPS here?

[2021-10-18 14:09] jshilong commented on #6285
We may release a new codebase related to pruning and distillation in the future, maybe even recently, so stay tuned

[2021-10-18 15:22] Soodep opened #6309 "Print bounding boxes during visualization"
I am trying to print out the visualized bounding boxes. I am testing some images and below is the test result for a single image:
![image](https://user-images.githubusercontent.com/9031472/137759644-e08c718d-0508-4ff8-b71a-d80a524cb57f.png)
As shown in the result there are 8 bounding boxes ( 7 person and 1 car ), how do I print these boxes manually. I tried to print them at:
https://github.com/ope

[2021-10-18 16:19] elfring commented on #6300
How do you think about to improve remaining source code places which would not be affected by mentioned PyTorch development concerns? :thinking:

[2021-10-18 18:30] oggreo opened #6310 "How to use MultiScaleFlipAug on TorchServe"
Hello!

I wanted to use MultiScaleFlipAug on model served using TorchServe. What is the best way to do this ?

I looked at the code for MultiScaleFlipAug, but it wasn't clear how this could be used in the context of torchserve...

Thanks!

[2021-10-19 02:00] JayFu opened #6311 "哪里可以看见基于AMD显卡的安装支持文档"
我搜到 [mmcv的issue](https://github.com/open-mmlab/mmcv/issues/1394)和一个PR，看见有人完成了基于AMD显卡的编译安装，想请问现在基于AMD的mmdetection是否可用以及官方有提供针对AMD的安装文件和文档吗？

[2021-10-19 02:06] hhaAndroid commented on #6310
@reo911gt3 I’m not very familiar with it, but I think you can refer to https://github.com/open-mmlab/mmdetection/blob/master/docs/useful_tools.md#1-convert-model-from-mmdetection-to-torchserve, and then change CONFIG_FILE to a Multi-scale version. I guess I don’t need to do anything except modify the configuration file.

[2021-10-19 02:08] hhaAndroid commented on #6309
@Soodep https://github.com/open-mmlab/mmdetection/issues/6185

[2021-10-19 02:12] hhaAndroid commented on #6311
@JayFu MMDET should not need to be modified but I suggest you go to MMCV to create an issue.

[2021-10-19 02:22] #6311 closed

[2021-10-19 03:21] lijoe123 opened #6312 "Whats the 'time' and 'data_time' mean?"
![pic](https://user-images.githubusercontent.com/86214036/137838315-2069384b-da54-4b17-9ee7-1a24bd0f1d3d.jpg)
Helllo! I want to know about whats the **'time'**  and **'data_time'** mean  in  the picture?
By the way, I want to know  how to get the **'fps '**?
Thanks!

[2021-10-19 03:54] jiejie1993 opened #6313 "convert yolox to tensorrt,error occured"
I have install onnxruntime and tensorrt in this command `MMCV_WITH_OPS=1 MMCV_WITH_TRT=1 MMCV_WITH_ORT=1 pip install -e .` and set env `export ONNX_BACKEND=MMCVTensorRT`. I have successfully verify the pipeline pth->onnx->trt in yolov3.
1. successfully convert the yolox model to onnx in the following command:`python tools/deployment/pytorch2onnx.py ../model_store/haiyangshengwu_Yolox_tiny_416/haiy

[2021-10-19 06:16] Wq-dd opened #6314 "yolof训练报错cuda/IndexKernel.cu:84: operator(): block: [0,0,0], thread: [58,0,0] Assertion `index >= -sizes[i] && index < sizes[i] && "index out of bou nds"` failed"
1. 看过其他的issue但是没有解决此问题。
2. 更换过cuda toolkit版本，cuda-8.0和cuda-10.1，仍然出现此错误。
报错如下：
![2021-10-19 14-13-55屏幕截图](https://user-images.githubusercontent.com/62586707/137854057-a15df0c2-da24-411d-89b1-56bc8fb91dcb.png)
运行python mmdet/utils/collect_env.py 后显示如下：
![2021-10-19 14-18-33屏幕截图](https://user-images.githubusercontent.com/62586707/137854324-3d515519-81c4-41d1-bfc8-7fa653c816c4.png)

[2021-10-19 06:23] #6305 closed

[2021-10-19 06:26] jshilong commented on #6302
Feel free to reopen the issue if there is any question

[2021-10-19 06:26] #6302 closed

[2021-10-19 06:39] #6304 closed, assigned to jshilong

[2021-10-19 06:44] jshilong commented on #6251
Feel free to reopen the issue if there is any question

[2021-10-19 06:49] #6285 closed, assigned to jshilong

[2021-10-19 06:49] jshilong commented on #6297
Feel free to reopen the issue if there is any question

[2021-10-19 06:49] #6297 closed

[2021-10-19 07:54] HarborYuan commented on #6312
Sorry for the ambiguity in the previous description.

L51 means the 51st line in the link.

[2021-10-19 08:14] AronLin opened #6316 "MaskFormer Implementation"
**Describe the feature**
Max-Deeplab, MaskFormer, and Panoptic SegFormer are Transformer-based panoptic segmentation methods, which achieve high performance in panoptic segmentation.
Among them, the pipeline and structure of Maskformer are relatively simple so it is more suitable as a base method to be reproduced.

**Motivation**
This is a recent paper https://arxiv.org/abs/2107.06278.

**Related

[2021-10-19 08:53] Chop1 opened #6318 "error in tools/test.py"
In tools/test.py, when using the --show-dir option, their is an error in mmdet/apis/test.py.

line 49, img_meta['ori_filename'] is an invalide key.

A workaround:

[code]

[2021-10-19 09:25] #6275 closed, assigned to AronLin

[2021-10-19 09:26] AronLin commented on #6267
We do not support it now, but you can transform the model to ONNX.

[2021-10-19 09:27] #6270 closed, assigned to AronLin

[2021-10-19 11:27] #6310 closed, assigned to hhaAndroid

[2021-10-19 11:35] joihn opened #6319 "Train a backbone from scratch via object detection"
Do you think it's possible to train a resnet backbone from scratch via object detection ? (aka training the full backbone+neck+head together)
or the gradient would vanish at the end of the head stage ? (I think that's I'm currently experiencing when training from scratch a detectoRS with resnet backbone, but maybe I just need more epoch)

[2021-10-19 13:10] #6314 closed, assigned to hhaAndroid

[2021-10-19 13:22] Chandhana99 commented on #4947
Hello @arnyao, did this issue got resolved?

Getting the same issue.

Thanks.

[2021-10-19 13:28] Chandhana99 opened #6320 "TypeError: impad() takes 1 positional argument but 2 positional arguments (and 1 keyword-only argument) were given"
Getting this issue, please help me solve this.

Traceback (most recent call last):
  File "mmdetection/tools/train.py", line 151, in <module>
    main()
  File "mmdetection/tools/train.py", line 147, in main
    meta=meta)
  File "/content/mmdetection/mmdet/apis/train.py", line 165, in train_detector
    runner.run(data_loaders, cfg.workflow, cfg.total_epochs)
  File "/usr/local/lib/python3.7/dist

[2021-10-19 13:55] sxy1122 opened #6321 "There was a problem eval"
![image](https://user-images.githubusercontent.com/77336413/137924222-ae46a726-adf0-486f-9ff7-bbc4da5f5a60.png)

Training can be carried out during training. Then, during verification, the verification speed of the data set is very slow, and finally it stops directly. Then these problems appear. I want to ask how to solve them?

[2021-10-19 14:46] Soodep commented on #6309
@hhaAndroid I printed the bounding box during visualization and during evaluation:
For evaluation: as shown above
For visualization:  https://github.com/open-mmlab/mmdetection/blob/a32d7d40bfe2277f255bf71911a27a76ff871eb2/mmdet/core/visualization/image.py#L135
I printed the bbox from the above line and got this result:
![Screenshot from 2021-10-19 09-41-21](https://user-images.githubusercontent.co

[2021-10-19 21:59] AndreaPi opened #6322 "How to set random seed and deterministic=True in the config file?"
Hi,

I would like to make the training of a model reproducible. Looking at

https://github.com/open-mmlab/mmdetection/blob/master/tools/train.py

the relevant arguments seem to be  `--seed` and  `--deterministic`. Do I need to set both of them to make the training reproducible? How do I set them in the config file?

[2021-10-20 00:20] HarborYuan commented on #6312
Sorry, I am not familiar with that.

[2021-10-20 02:20] lijoe123 opened #6323 "How to get the training speed and inference speed?"
Hello!!! Could you please tell me how to get the   **'training speed'** and  **'inference speed'**?
Thank you!

[2021-10-20 02:57] liyang159357 opened #6324 "在anchor_head.py中 labels的值异常"
在anchor_head.py中采样（assign）之后，为啥正样本的label为0，其他和负样本的label为1，然后再计算loss，不是应该正样本的label为1，其他和负样本的label为0吗？再与score进行loss计算。
源代码如下：  labels = anchors.new_full((num_valid_anchors, ),self.num_classes,dtype=torch.long)#初始化labels为1
# Only rpn gives gt_labels as None # Foreground is the first class since v2.5.0   labels[pos_inds] = 0 #正样本为0

[2021-10-20 03:21] BChunlei commented on #6303
no more messages. Actually, it can export onnx model, but it print 'No such file ''' message, instead of successful message.
![image](https://user-images.githubusercontent.com/44046955/138022626-7e032296-d464-4f49-9b27-c5bbaf77d357.png)

[2021-10-20 03:21] #6303 closed

[2021-10-20 04:02] AronLin commented on #6320
1. It seems that the version of mmdet is too old, I can not find this line.
2. Please use the issue template to show more information. We cannot locate the problem with the little information.

[2021-10-20 05:09] LawrenceXu13467 opened #6325 "Custom KITTI Dataset -- Physcial camera focal length not the same as the camera matrix focal length"
Hi mmdectection community,
Would anyone please explain what fu and fv here mean? Typical camera focal length is <100 mm. but Kitti calibration file is more than 100?
In our specific case, the camera we use has a focal length of 1.257mm physically in real life. However, the 3d bboxes do not fit to the objects until we set the focal length in the above matrix to be around 340 mm.
Does anybody know w

[2021-10-20 05:10] LawrenceXu13467 commented on #6325
![image (1)](https://user-images.githubusercontent.com/20788116/138031769-ed15b21e-33ae-4206-8c72-9b2f48556a3e.png)

[2021-10-20 05:23] #6238 closed

[2021-10-20 06:24] zcunyi opened #6326 "How to train faster rcnn with res18 and res34?"
How to train faster rcnn with res18 and res34?
I change the depth with 18 in fast_rcnn_r50_fpn.py, but it is error:'RuntimeError: Given groups=1, weight of size [256, 256, 1, 1], expected input[64, 64, 128, 128] to have 256 channels, but got 64 channels instead'

[2021-10-20 07:00] AronLin commented on #6322
In the latest version of mmdet, you can only set them through args, we no longer support setting them in config file.
https://github.com/open-mmlab/mmdetection/blob/master/tools/train.py#L155 shows that the `seed` will be covered by args.seed.

[2021-10-20 07:52] zcunyi commented on #6326
thank you

[2021-10-20 08:32] apanand14 opened #6327 "wobbly edges of predicted masks with custom implementation in mmdetection"
Hello all,

My issue is not directly related to mmdetection but I'm using mmdetection with custom implementation of refinemaskhead (https://github.com/zhanggang001/RefineMask) for precise segmentation. I'm getting wobbly edges of the predicted masks as shown in figure. Can someone help how to get more precise mask with any post processing computer vision/AI/ or manual techniques? Thank you in adva

[2021-10-20 08:44] apanand14 opened #6328 "Is mmdetection prediction on CPU possible??"
Hello,

In mmdetection, tools/test.py uses single_gpu_test and multi_gpu_test for the prediction. I would like to do it on CPU only. Is it possibe to use CPU for test.py for mmdetection prediction?

Thank you in advance for your answer!

[2021-10-20 08:53] idontlikelongname opened #6329 "Qustion about Pad pipeline"
Thanks for your wanderful project.
Im processing FCOS3D model with own custom datasets.
I found 1 error and have 1 question about pipeline.

ERROR
the pipeline Resize and RandomFlip not modified the centers2d filed in annotation. It will confuse the target assigner follow-up

Question
why the Pad transform do not modified gt_bboxes, to my knowledge if the image size changed the label rectangle wil

[2021-10-20 08:56] #6325 closed, assigned to AronLin

[2021-10-20 09:08] AronLin commented on #6323
All training time for an iteration, including data time, inference time, and backpropagation time for a batch.

[2021-10-20 09:28] AronLin commented on #6328
Yes, you can use PyTorch-CPU and re-build mmcv with CPU if you want to use the ops in mmcv.
We did not deliberately go to be compatible with the CPU, but theoretically, it can be tested with the CPU.

[2021-10-20 09:40] idontlikelongname commented on #6329
Thanks, get it.
Im confused with CNN kernel padding, the transform pipeline pad is asymmetric in width or height direction.

[2021-10-20 09:52] yassinesefrioui commented on #3771
@vishaldhull09  i have the same problem, did you find any solution for that ?

[2021-10-20 11:15] #6326 closed, assigned to RangiLyu, AronLin

[2021-10-20 11:15] #6323 closed, assigned to AronLin

[2021-10-20 11:16] #6329 closed

[2021-10-20 11:50] liyang159357 commented on #6324
Thank you very much. Can you provide the corresponding development documents

[2021-10-20 13:25] RunningLeon commented on #6303
@BChunlei Could debug and locate which line of code is printing this message?

[2021-10-20 15:29] tuochi opened #6332 "What is MemcachedBackend config Look like?"
Hi! I'd like to ask the problem about using memcached as backend . I install memcached by using its office document, but i can't find the files named 'server_list_cfg' or 'client_cfg'. What tool memcached client you used? Could you give me an example about "server_list_cfg","client_cfg" and "sys_path"in your spare time?Thanks a lot!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2021-10-20 17:21] #6322 closed, assigned to AronLin

[2021-10-21 02:17] lijoe123 opened #6333 "How to ues the 'benchmark_inference_fps.py' in the ' .dev_scripts' ?"
Hello! Could you please tell me how to use  **''benchmark_inference_fps.py'** ?
I use it by the code: **'python .dev_scripts/benchmark_inference-fps.py configs/yolo/yolov3_mobilenetv2_mstrain-416_300e_coco.py work_dirs/yolo_mydata/latest.pth'**
But it occur the error:   **' NotImplementedError: Only supports distributed mode'**
Could you please **show me an example**? I use this to get the inferen

[2021-10-21 03:20] #6324 closed

[2021-10-21 03:27] fusang1337 opened #6334 "当我在Ubuntu20.04的终端中运行`python3 tools/train.py`的时候，报错`The num_classes (1) in Shared2FCBBoxHead of MMDataParallel does not matches the length of CLASSES 20) in RepeatDataset` 当我使用Pycharm的可视化界面运行 `tools/train.py` 的时候可以正常执行训练"
谢谢开发者的付出
  Thank you for your efforts
**Checklist**

1. I have searched related issues but cannot get the expected help.
我看到有人和我一样的问题，但是我没有在他们的答案中找到有效的解决办法。
I saw people with the same problems as me, but I didn't find an effective solution in my answers.

2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has n

[2021-10-21 03:46] thisisi3 commented on #6209
I have some doubts about this observation, increase of class number won't change feature maps, won't change ATSSHead(RetinaHead). It only changes the final output of classification branch. So I don't know if mem will noticeably increase as we increase number of classes. Am I missing something?

[2021-10-21 04:02] 294486709 opened #6335 "Problem with loss_mask!!!"
**I'm using the default solo config to train my own instance segmentation dataset. For the first few epoch, I noticed a sizeable decress on loss_cls, while loss_mask stays until it reached epoch No.3.**

2021-10-21 11:49:10,451 - mmdet - INFO - Epoch [1][5/66]	lr: 2.005e-05, eta: 0:08:16, time: 0.630, data_time: 0.428, memory: 1912, loss_mask: 2.9405, loss_cls: 1.1468, loss: 4.0873
2021-10-21 11:4

[2021-10-21 05:14] RangiLyu commented on #6334
Please change the CLASSES in mmdet/datasets/voc.py correctly.

[2021-10-21 05:22] RangiLyu commented on #6333
This script is for developers, you can use tools/analysis_tools/benchmark.py to get FPS.
And you need to run the script with a distributed launcher.
Try to run
[code]

[2021-10-21 05:58] joey1616 commented on #6334
I meet the same problem. I changed the CLASSES in mmdet/datasets/voc.py correctly. And the yolox runs normally. But the yolo stop with `AssertionError: The `num_classes` (61) in YOLOV3Head of MMDataParallel does not matches the length of `CLASSES` 20) in VOCDataset
`

[2021-10-21 06:39] lijoe123 commented on #6333
Thank you !!!!    I GOT  IT!
![11](https://user-images.githubusercontent.com/86214036/138224471-6cce044f-4bfd-437b-8404-08ea19ab43a2.JPG)
But i dont understand which is  **'inference time '**? '**fps' or 'times per image'**

[2021-10-21 06:57] #6333 closed, assigned to RangiLyu

[2021-10-21 06:57] lucienne999 opened #6336 "The flops and parameters of NASFPN is not matched"
Hi, table.1  in [1] show that  NAS-FPN R-50 (7 @ 256)  FLops and parameters is  **281.3B , 60.3 M**.  However, I use `get_flops.py` to get **140.42 GF** and **68.02M** when using NasFPN config.

Refer:
[1] https://arxiv.org/pdf/1904.07392.pdf

[2021-10-21 07:21] LicharYuan commented on #6336
@RangiLyu  Thanks for your reply. But how to explain the difference in parameters?

[2021-10-21 07:56] joihn opened #6337 "saving optimizer params in the checkpoint"
I implemented a custom optimizer (simply added [Adabelief](https://github.com/juntang-zhuang/Adabelief-Optimizer) to mmdet registry ),

However it looks like it's paramters are not correctly saved in the model checkpoint (when I resume training from a checkpoint, the training goes crazy for a few epoch)

How do I make sure the custom optimizer settings are correctly saved/resumed ?

[2021-10-21 08:25] EdyQiu opened #6338 ""random" training time for every 500 iterations"
Hi, I met this problem recently.
I modified the faster rcnn architecture, and there should be no obvious bugs since the resultant mAP is not a wired value.
However, I noticed from the log that the training time for every 500 samples were very different, sometimes it was around 0.6, whereas sometimes it approached 1.8 !
I quickly recall my previous log, and found 0.6 should be the right one.
I was

[2021-10-21 08:44] addicter2017 commented on #81
Could you tell us how didi you switch to the new config file?

[2021-10-21 08:51] EdyQiu commented on #6338
Sorry I thought it is less related to the code, and thought it might be a general question. I will close this and use the template to post a new one!

[2021-10-21 08:51] #6338 closed

[2021-10-21 11:54] AronLin commented on #6312
#6323 answered this question.

[2021-10-21 11:54] #6312 closed

[2021-10-21 12:01] #6336 closed, assigned to RangiLyu

[2021-10-21 13:32] #6334 closed

[2021-10-21 14:05] HarborYuan opened #6339 "Consider set a random seed when seed is not set"
Hi,

Currently, when seed is not set in the command line, the training process will not do anything with seed. [This](https://github.com/open-mmlab/mmdetection/blob/9874180a015beee874c904357fe4ed4fab4b46a4/tools/train.py#L151) may cause potential error in some cases (when different threads have different seeds). In fact, I have met a very misleading error caused by this.

For example, I guess [the

[2021-10-21 15:35] Soodep commented on #6185
which section/file of the mmdetection directory is this code present in?

[2021-10-21 15:46] AndreaPi opened #6340 "How to correctly set up a custom number of classes in Cascade Mask R-CNN"
Hi,

I wrote a config file to train Cascade Mask R-CNN with my custom dataset of type `COCODataset`. For the sake of testing, I used `balloon` as a custom COCO dataset (1 class). The config file `test_wrong_bbox_head.py`  is as follows:

[code]

Traning the model with
[code]
seems to work nicely. **However**, inspecting the config file with
[code]
reveals that the configuration of the `bbox_head`

[2021-10-22 02:46] lijoe123 opened #6341 "How can i get the IOU of each class?"
Hello! Could you please tell me how to get the **IOU of each class** by tools and g**ive me an example**?
Thank you!

[2021-10-22 03:54] sxy1122 commented on #6321
Then why can we train, but not eval? What's the problem? If there is a problem with the code, why can we train?

[2021-10-22 04:35] #6239 closed

[2021-10-22 04:36] #6277 closed

[2021-10-22 04:36] #6280 closed

[2021-10-22 07:02] Fei-Wang opened #6343 "关于按epoch进行eval的问题"
我是应该在[这边](https://github.com/open-mmlab/mmdetection/blob/9874180a015beee874c904357fe4ed4fab4b46a4/mmdet/apis/train.py#L42)传入validate=True来注册eval的钩子，还是通过配置文件指定workflow = [('train', 1), ('val', 1)]呢？

这两种方式有什么区别，使用哪一种会更优吗？

[2021-10-22 08:15] JosonChan1998 opened #6345 "Detail about the mutilscale-traing in ratio_range mode"
I use the mutil-scale ratio-range mode in faster-rcnn and i understand the implementation of Resize classes.
In theory, the resolution of each image is random, but in a batch, the resolution of the images is required to be consistent. How do you deal with it?

The config i use is follow:
`dict(type='Resize', img_scale=(1024, 1024), ratio_range=(0.5, 2.0), keep_ratio=True),`

[2021-10-22 10:23] apanand14 opened #6346 "Is it possble to convert mmdetection trained model in .pth to .pt for AWS deployment?"

[2021-10-22 10:30] alaa-shubbak opened #6347 "File Not Found Error: [Errno 2] No such file or directory: '/tmp/tmpmcy9xo9x/tmp7j_ugpmf.py'"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
yes
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
yes
3. The bug has not been fixed in the latest version.
i am not sure ,if it is a bug or not.

**Describe the bug**
A clear an

[2021-10-22 10:37] vickyyd opened #6348 "About train subclass"
Hi, if i want to train subclass. Except change ./config, should i change ./mmdet/core/evalution/class_name.py and ./mmdet/datassets/voc.py?
For example, my dataset have changed to voc format and it have 'apple' 'orange' two classes. I want to train 'apple' one class. In voc.py, it should be CLASSES = ('apple', 'banana') or CLASSES = ('apple')? And in class_name.py, it should be return ['apple', 'b

[2021-10-22 11:07] dimimal opened #6349 "MultiClass Thresholds during COCO Testing"
I have implemented multiclass threshold for model inference as I can process the result(bboxes, masks) returned by the model. I also, changed the code in the visualise module in mmdet for the visualization.
Im not sure how can I do this if I want to use the  test.py module and threshold the bboxes and masks with individual scoring thresholds.

Has anyone done anything similar?

[2021-10-22 12:39] fduxvtech opened #6350 "Deformable ROI and Deformable Attention TensorRT plugin"
Hello,

Thanks for the incredible work;
I'm interested in using deformable Roi and deformable Attention in tensorrt; I have interest in porting everything in c++, do your framework support it?
Where should I start to implement the plugins? any resources will be extremely beneficial since I can't find much online

[2021-10-22 15:31] pfuerste opened #6351 "Custom dataset COCO-format annotations for empty images"
I am trying to train a model on a custom dataset and am currently in the process of changing my annotations. The dataset provides a .json, but there is no segmentation information in it.
- Can I just omit the 'segmentation'-key in dict['annotations'] or do I have to have an empty list in that place?
- There are also images without detections, which I also want to use in training. Should those not

[2021-10-24 02:30] BIGWangYuDong commented on #6340
it is suggested to use `test_correct_bbox_head`
you should set all parameters in the list of cascade head

[2021-10-24 02:32] BIGWangYuDong commented on #6346
Can you provide a copy of your current code and let me try it

[2021-10-24 02:34] BIGWangYuDong commented on #6348
Maybe due to the VOC hardcode in mmdet. Then you can try to change the CLASSES in the VOC dataset

[2021-10-24 02:39] BIGWangYuDong commented on #6350
Hi maybe you can find these in [`MMCV`](https://github.com/open-mmlab/mmcv/tree/master/mmcv/ops)

[2021-10-24 02:57] Dandelion111 opened #6353 "请问这个项目没有deploy分支？"

[2021-10-24 06:43] #6255 closed, assigned to RunningLeon, jshilong

[2021-10-24 06:56] AmanGoyal99 opened #6355 "Customized backbone model"
Greetings,

I want to use a customized backbone model. Now, I had already viewed the instructions mentioned in your GitHub repo about it. I had a couple of queries

1) If I want to add such a customized backbone model, would I need to then clone your github repo and build it or can I do pip installation as well?
2) In the config, is it necessary to mention parameters such as depth, style etc other

[2021-10-24 08:03] BinZhu-ece opened #6356 "Batchsize and lr of Swin-l+HTC"
Batchsize and lr of Swin-l+HTC

Thank you for your outstanding work, I only have 8 A-100cards, can I train  batchsize=1 each card and adjust the learning rate to 0.0001 / 2? Is there a negative impact on this relatively large model accuracy of HTC+swin-L?

[2021-10-24 12:54] #6356 closed, assigned to ZwwWayne

[2021-10-24 13:35] sarmientoj24 opened #6357 "How to have validation while training in an IterBasedRunner?"
I saw from the previous issues about putting val in the workflow section.
[code]
But it seems like it only works for EpochBasedRunner. How do I do it with IterBasedRunner? Say, I want to have it every 10K iterations?

[2021-10-24 14:00] sarmientoj24 opened #6358 "ValueError: not enough values to unpack (expected 2, got 1)"
Using the baseline for fully labeled data was training. But then, when I try to train [soft-teacher](https://github.com/microsoft/SoftTeacher) with the following command,
[code]

it is getting this error
[code]

Here are my configs:

`base.py`
[code]

`soft_teacher_faster_rcnn_r50_caffe_fpn_coco_180k.py`
[code]

Have you encountered this error?

[2021-10-24 21:35] neel04 opened #6359 "Model is validating, However AP/AR scores don't budge from 0"
This is a migration of #6253; as it wasn't appropriate for the level of complexity of this issue

**Describe the bug**
Despite the validation set being loaded in, and the model overfitting (but not severely) we still have AP/AR scores for validation to be `0` and `-1`s

**Reproduction**

Specified in issue chain

2. Did you make any modifications on the code or config? Did you understand what you

[2021-10-25 03:04] github-eliviate opened #6360 "what can i do if the input data have five channel? and it is saved with npy format"
what can i do if  the input data have five channel ,and it‘s saved with npy format?

[2021-10-25 03:35] CheungBH opened #6361 "Crowd detection"
Hello. Are there any crowd detection algorithms?

[2021-10-25 06:42] lijoe123 opened #6362 "Do you have the Residual Attention Network?"
Hello!!! Do you have the Residual Attention Network in the mmdetection?
Thank you!

[2021-10-25 06:55] #6328 closed, assigned to AronLin

[2021-10-25 08:29] tienthegainz opened #6363 "Convert YOLOv3 to ONNX error"
**Describe the bug**

I am trying to convert YOLOv3 to ONNX using the file `pytorch2onnx.py`.
Running this cmd suggested in the [documentation](https://mmdetection.readthedocs.io/en/latest/tutorials/pytorch2onnx.html):
[code]
and I received this error:
[code]

**Reproduction**

You can use this [Colab file](https://colab.research.google.com/drive/1yINgX7N-WHr6w7cgu3-6BvpAVdMpCDEl#scrollTo=NvYrf8h7

[2021-10-25 08:48] fhf526 opened #6364 "自定义数据集"
自定义数据集，按照教程中自定义数据集的例子，在mmdet/datasets/my_dataset.py中创建一个新的 dataset 用以加载数据。然后在mmdet/datasets/__init__.py进行添加自己的数据集，然后运行的时候报错 KeyError: 'MyDataset is not in the dataset registry'
想问一下这是什么问题，谢谢！

[2021-10-25 10:21] #6362 closed, assigned to jshilong

[2021-10-25 10:28] SunshineJZJ opened #6367 "houw export cascade-rcnn to onnx model with opset version 9"
I want to convert cascade-rcnn model to caffe-style-model, so first I convet pth model to onnx；
I neeed use tools/deployment/pytorch2onnx.py with --opset-version 9 , How should I do?

[2021-10-25 12:46] bloom1123 opened #6368 "KeyError: 'CenterNet is not in the detector registry'"
2021-10-25 20:44:37,053 - mmdet - INFO - Distributed training: False
2021-10-25 20:44:41,078 - mmdet - INFO - Config:
dataset_type = 'CocoDataset'
data_root = 'data/coco/'
img_norm_cfg = dict(
    mean=[123.675, 116.28, 103.53], std=[58.395, 57.12, 57.375], to_rgb=True)
train_pipeline = [
    dict(type='LoadImageFromFile', to_float32=True, color_type='color'),
    dict(type='LoadAnnotations', with

[2021-10-25 14:18] Boyden opened #6371 "Upsample error"
https://github.com/open-mmlab/mmdetection/blob/d145b0eab083eb6f2004ca37d704536cec882d16/mmdet/models/roi_heads/mask_heads/fcn_mask_head.py#L124
The upsample cfg in the FCNMaskHead supports the bilinear and nearest upsample type. However, in the L124, using bilinear or nearest upsample methods will cause the error `AttributeError: 'Upsample' object has no attribute 'weight'` due to no weight in the

[2021-10-25 19:20] cailk opened #6372 "How to train htc without mask annotations?"
Hi, I would like to train models based on _configs//htc/htc_without_semantic_r50_fpn_1x_coco.py_ on my own customized dataset, which does not contain mask annotations.
Are there any config files to achieve this goal? Or could I just remove the "mask_roi_extractor" and "mask_head" in _configs//htc/htc_without_semantic_r50_fpn_1x_coco.py_ ?

[2021-10-26 02:29] sanmulab opened #6373 "About testing YOLOX model's FPS"
作者你好！就是我用yolox训练模型，还没训练完，我用benchmark.py脚本测试模型的速度，发现只有35-40FPS左右，论文里不是有90FPS吗？还是说这个benchmark.py测试的FPS包括前向和后向推理，我应该乘以2吗？最后一个问题是，因为一些原因训练中断了，我用resume-from指令恢复训练，这样做有没有可能会影响模型AP指标。

[2021-10-26 05:18] #6320 closed, assigned to AronLin

[2021-10-26 09:52] #6319 closed, assigned to hhaAndroid

[2021-10-26 10:23] Super-chen-big opened #6376 "adsf"
**Notice**

There are several common situations in the reimplementation issues as below

1. Reimplement a model in the model zoo using the provided configs
2. Reimplement a model in the model zoo on other dataset (e.g., custom datasets)
3. Reimplement a custom model but all the components are implemented in MMDetection
4. Reimplement a custom model with new modules implemented by yourself

There a

[2021-10-26 10:24] #6376 closed, assigned to nobody

[2021-10-26 10:26] Super-chen-big opened #6377 "IndexError :list index out of range"
![QQ图片20211026181433](https://user-images.githubusercontent.com/65719285/138859957-b87388c3-d584-4d1a-8e63-c244fd0083b5.png)
The data model I use is mask_rcnn_r50_fpn_1x_coco_20200205-d4b0c5d6.pth
He may report this error before starting the second training after saving the first epoch, or before starting the fourth training or before the eighth training.

[2021-10-26 13:13] Zengyf-CVer opened #6379 "About the use after data loading"
I am a beginner, and I want to ask what `data['img']` and `data['img_metas']` mean?

[2021-10-26 15:37] joihn opened #6380 "Evaluation interval VS validation interval"
I am using a **training set**, a **validation set** and a **test set**.

`evaluation = dict(interval=1, metric='bbox')`
This setting means that after each training epoch, mmdet will do an evaluation on the test set, am I correct ?

`workflow = [('train', 1),('val', 1)]`
This setting means that after each training epoch, mmdet will do an evaluation on the validation set, am I correct ?

[2021-10-26 18:36] AmanGoyal99 opened #6381 "Getting 'IndexError: tuple index out of range' error when trying to use customized backbone"
`import torch
import math
import torch.nn as nn
import torch.nn.functional as F
from torch.autograd import Variable
import numpy as np
from ..builder import BACKBONES

def convert2cpu(gpu_matrix):
    return torch.FloatTensor(gpu_matrix.size()).copy_(gpu_matrix)

def bbox_iou(box1, box2, x1y1x2y2=True):
    if x1y1x2y2:
        mx = min(box1[0], box2[0])
        Mx = max(box1[2], box2[2])

[2021-10-27 01:25] lijoe123 opened #6383 "A question about "Inf time" and "Inf speed"?"
Hello，why the   **"Inf time"**  has  **(fps)**   behind of it, **(fps)** doesn't mean**”Inf speed“**?
![11](https://user-images.githubusercontent.com/86214036/138984165-99cc6e3b-8a53-4684-95c4-6129e1ce0085.jpg)

[2021-10-27 01:56] NoLookDefense opened #6384 "How to obtain AP50 metric"
Hello. I am currently doing some researches about object detection with other dataset. I wonder how to obtain AP50? Do you have any references about it? (Like the format of input and output)

[2021-10-27 02:03] #6373 closed, assigned to hhaAndroid

[2021-10-27 02:18] wangxianrui opened #6385 "why rebuild the model in every epoch？"
when i running the model with distribute，i found that once i modify the original code，the running experiment will change in the next epoch，although i have start it before modifying。
so why keep this feature in mmdet, and how should i prevent it？

[2021-10-27 02:28] #6283 closed, assigned to BIGWangYuDong

[2021-10-27 03:53] #6361 closed, assigned to jshilong

[2021-10-27 03:53] #6347 closed, assigned to BIGWangYuDong

[2021-10-27 03:53] #6360 closed, assigned to jshilong

[2021-10-27 03:55] #6348 closed, assigned to BIGWangYuDong

[2021-10-27 10:32] ywj509 opened #6387 "How to get the loss of validation set"
{"mode": "train", "epoch": 1, "iter": 100, "lr": 0.0005, "memory": 2421, "data_time": 0.00314, "loss_rpn_cls": 0.45784, "loss_rpn_bbox": 0.03336, "s0.loss_cls": 0.0667, "s0.acc": 98.36328, "s0.loss_bbox": 0.01117, "s1.loss_cls": 0.04274, "s1.acc": 98.375, "s1.loss_bbox": 0.00517, "s2.loss_cls": 0.02605, "s2.acc": 98.38086, "s2.loss_bbox": 0.00267, "loss": 0.6457, "time": 0.31286}
{"mode": "val", "

[2021-10-27 13:33] aa1234241 opened #6389 "what does @mmcv.jit do."
Hello, I see the code there are some @mmcv.jit decorator. Could you please tell me what's the meaning of this decorator? Many thanks!

[2021-10-27 22:59] tikitong opened #6392 "Are the class numbers missing in the .pkl files after inference?"
It seems that there are no labels (class number ) in the `results.pkl` files that can be generated for inference. Only  pixel coordinates of the bboxes and confidence scores in my case .

Is this correct? If so would it be possible to add them? That would be **extremely** useful.

[code]
in the results.pkl file:
[code]

[2021-10-28 02:08] #6363 closed, assigned to RunningLeon, jshilong

[2021-10-28 06:28] fhf526 opened #6393 "TypeError: __init__() missing 1 required positional argument: 'dtype'"
I'm going to use yolox for model training

configs/yolox/yolox_s_8x8_300e_coco.py

I modified the number of categories and the path to load data
![image](https://user-images.githubusercontent.com/84608423/139198909-d7dcc6c5-f582-4553-8f36-b0df4621ea3e.png)
![image](https://user-images.githubusercontent.com/84608423/139198963-447721b2-33d3-4e69-b78a-08bac9c7a6b3.png)

Then the command I run is
pyth

[2021-10-28 06:38] WepLeo opened #6394 "(need help)failed to train model with mmdetection"
No issue template in General questions. I use the Error report issue Template as follow

Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the lates

[2021-10-28 07:38] bennyji opened #6395 "CenterNet can't be trained"
Thanks for your error report and we appreciate it a lot.

**Checklist**

1. I have searched related issues but cannot get the expected help.
2. I have read the [FAQ documentation](https://mmdetection.readthedocs.io/en/latest/faq.html) but cannot get the expected help.
3. The bug has not been fixed in the latest version.

**Describe the bug**
A clear and concise description of what the bug is:
I us

[2021-10-28 07:47] #6340 closed, assigned to BIGWangYuDong

[2021-10-28 08:01] #6381 closed, assigned to AronLin

[2021-10-28 08:11] #6343 closed, assigned to BIGWangYuDong

[2021-10-28 08:12] #6341 closed, assigned to BIGWangYuDong

[2021-10-28 08:19] #6345 closed, assigned to BIGWangYuDong

[2021-10-28 08:36] #6349 closed, assigned to BIGWangYuDong

[2021-10-28 09:03] elvindp opened #6397 "mismatching ground truth mask and training image"
Hi, I find that when calculating loss, the ground truth mask is different to training image.
Due to collect, the training images will be padded to same size, but when I save ground truth of mask, I find the mask is not pad.
I wonder if anyone face same problem.
![in_tmp](https://user-images.githubusercontent.com/19625463/139224004-163f61fc-015e-4baf-82e7-70462666fb87.jpg)
![in_gt-0](https://user-i

[2021-10-28 09:05] #6383 closed, assigned to AronLin

[2021-10-28 10:28] #6392 closed, assigned to RangiLyu

[2021-10-28 12:27] jewelc92 opened #6400 "YOLO v3 loss"
I found that in all the configs of yolov3，the parameter 'reduction' of loss is set to 'sum'，and this only exits in yolov3's config files. The final box AP of yolo v3 model that you provide are normal, but in the log, the final losses are so big that larger than 200. I want to know why this paramter 'reduction' is set to 'sum' only in yolov3?  Does this paramter make any difference to the training

[2021-10-28 13:49] joihn opened #6402 "change LR and use resume-from checkpoint"
Is there a trick/workaround in order to change the LR and then use `--resume`-checkpoint  ?

at the moment, the old LR from the checkpoint overwrites the new LR :(

(I know I could use `load_from` but this would imply loosing the number of epoch info which I want to avoid )

[2021-10-28 14:28] #6400 closed, assigned to RangiLyu

[2021-10-28 15:12] #6389 closed, assigned to RangiLyu

[2021-10-28 16:27] #6379 closed, assigned to AronLin

[2021-10-28 20:48] Soodep opened #6403 "how to train with custom proposals instead of rpn proposals?"
I want to use my own proposals ( as in the form of .txt file containing a list of proposals for each image) instead of rpn proposals during testing. For example : As for testing I can simply read all the files from a given directory : https://github.com/open-mmlab/mmdetection/blob/db256a14bb7018ad36eed104ea0ce178a0d4050c/mmdet/models/detectors/two_stage.py#L182
create my own list of proposals and